<b1-modal-container [loader]="false">
  <ng-container slot="header">
    {{ 'components.pay.confirmation' | translate }}
  </ng-container>

  <div slot="body" class="row">
    <div class="col-md-12">
      <b1-input
        name="comment"
        [maxLength]="70"
        placeholder="{{ 'components.pay.commentLockCard' | translate | lowercase }}"
        [(ngModel)]="message">
        {{ 'components.pay.commentCardLock' | translate | lowercase }}
      </b1-input>
    </div>
  </div>

  <b1-button slot="footer" icon="lock" label="components.corpcard.services.block" (btnClick)="ok()"></b1-button>
</b1-modal-container>
