<ng-container *ngrxLet="turnovers$ as turnovers">
  <ng-container *ngrxLet="isLoading$ as isLoading">
    <div class="b1-page-data" *ngIf="turnovers && turnovers.length !== 0 && !isLoading">
      <account-turnover-row *ngFor="let turnover of turnovers; trackBy: trackId" [turnover]="turnover">
      </account-turnover-row>
    </div>
    <div
      class="b1-page-data"
      [hidden]="!((!turnovers || turnovers.length === 0) && !isLoading)"
      *ngrxLet="range$ as range">
      <b1-empty
        svgName="empty-turnovers"
        header="components.acct.turnoversNotFoundTitle"
        [description]="'components.acct.turnoversNotFound' | translate: { start: range.start, end: range.end }">
      </b1-empty>
    </div>
    <div class="b1-page-data b1-page-data_skeleton" [hidden]="!isLoading">
      <account-turnover-skeleton *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]"> </account-turnover-skeleton>
    </div>
  </ng-container>
</ng-container>
