<form *ngrxLet="isLoading$ as isLoading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-auth-phone-input controlId="phone" [formControl]="phoneControl" [prefix]="phonePrefix">
    {{ 'components.auth.phoneNumber' | translate }}
  </app-auth-phone-input>

  <app-auth-button
    class="b1-mt-6"
    type="submit"
    [isLoading]="isLoading"
    label="components.auth.Send"
    [isDisabled]="form.invalid"></app-auth-button>
</form>

<app-auth-back-link>
  {{ 'components.auth.GoToLoginPage' | translate }}
</app-auth-back-link>

<app-auth-error [message]="errorMessage"></app-auth-error>
