<label class="b1-checkbox">
  <input
    class="b1-checkbox__hidden"
    type="checkbox"
    autocomplete="off"
    [(ngModel)]="value"
    (ngModelChange)="handleValue($any(value))"
    [disabled]="isDisabled"
    #formControlRef />
  <i class="b1-checkbox__check"></i>
  <span class="b1-checkbox__label" #labelRef>
    <ng-content></ng-content>
  </span>
</label>
<p
  *ngIf="formControl && formControl.invalid && (formControl.dirty || formControl.touched)"
  class="b1-input__validate-message">
  {{ error!.text | translate: error!.params }}
</p>
