@import 'variables';

:host {
  display: block;
  margin-top: 16px;
  text-align: center;
  a {
    padding: 0 32px;
    @include base;
    color: $color-dark;
    text-align: center;
    transition: all 0.15s ease-in;
    &:hover {
      color: $color-dark-200;
      text-decoration-line: underline;
    }
  }
}
