<ng-container *ngrxLet="isLoading$ as isLoading">
  <div class="b1-page-actions">
    <div class="b1-page-actions__left">
      <div class="b1-title3">
        {{ 'components.supDocuments.details.reletatedPaymentsAndApplications' | translate }}
      </div>
    </div>

    <div class="b1-page-actions__right">
      <b1-input
        icon="search"
        [placeholder]="'shared.search' | translate"
        [resizable]="true"
        [ngModel]="filterTerm$ | ngrxPush"
        (ngModelChange)="onPaymentsFilter($event)"></b1-input>
    </div>
  </div>
  <b1-card-loader [isLoading]="isLoading$"></b1-card-loader>
</ng-container>
