$screen-tablet-medium: 1199px;
$screen-tablet: 812px;

.contacts {
  &__content {
    padding: 32px 0;

    @media (max-width: $screen-tablet) {
      padding: 17px 0;
      text-align: center;
    }
  }

  &__group {
    display: flex;

    @media (max-width: $screen-tablet-medium) {
      display: block;
    }

    &-item {
      width: 40%;

      &:first-of-type {
        width: 35%;
        margin-right: 5%;
      }

      @media (max-width: $screen-tablet-medium) {
        width: 100%;

        &:first-of-type {
          width: 100%;
          margin-right: 0;
        }

        &:not(:first-of-type) {
          margin-top: 70px;

          @media (max-width: $screen-tablet) {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
