<div class="account-skeleton">
  <div class="account-skeleton-icon">
    <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
  </div>
  <!-- <div class="account-skeleton-body">
    <div class="account-skeleton-name b1-ellipsis">
      <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
      <div class="account-skeleton-number">
        <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
      </div>
    </div>
    <div class="account-skeleton-date">
      <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
    </div>
    <div class="account-skeleton-amount">
      <div class="account-skeleton-balance">
        <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
      </div>
      <div class="account-skeleton-turns">
        <div class="account-skeleton-turns-debit">
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </div>
        <div class="account-skeleton-turns-credit">
          <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div> -->
</div>
