<div class="b1-page-actions" *ngrxLet="tab$ as tab">
  <div class="b1-page-actions__left" *ngrxLet="isLoading$ as isLoading">
    <div>
      <input
        type="checkbox"
        class="b1-page-checkbox"
        id="selectAll"
        name="selectAll"
        [checked]="selectAll$ | ngrxPush"
        (change)="selectAll()" />
      <label for="selectAll">
        <div class="b1-page-checkbox-icon" b1-icon icon="check"></div>
      </label>
    </div>
    <div class="b1-page-icons">
      <ng-container *checkRole="['Director', 'Accountant']">
        <b1-button
          *ngIf="tab == 'ONMYSIGN'"
          class="b1-mr-4"
          icon="sign"
          label="components.pay.sign"
          (btnClick)="signApplications()"
          [isDisabled]="isLoading"></b1-button>
      </ng-container>

      <b1-button
        *ngIf="tab == 'SIGNED'"
        class="b1-mr-4"
        icon="send"
        label="components.pay.sendToBank"
        (btnClick)="sendToBankApplications()"
        [isDisabled]="isLoading"></b1-button>

      <b1-page-button
        label="actions.delete"
        *ngIf="tab != 'BANKRECEIVED'"
        (b1Click)="removeApplications()"
        [disabled]="isLoading"
        icon="delete">
      </b1-page-button>
    </div>
  </div>
  <form class="b1-page-actions__right" name="search" novalidate>
    <div class="b1-page-inputWithIcon width-100">
      <input
        class="b1-input__control without-label b1-base b1-page-input resize"
        name="search"
        id="search"
        type="text"
        [attr.placeholder]="'shared.search' | translate"
        [ngModel]="filter$ | ngrxPush"
        (ngModelChange)="onFilter($event)" />
      <label b1-icon icon="search" class="resize" for="search"></label>
    </div>
  </form>
</div>
