<div class="b1-page-actions" *ngrxLet="tab$ as tab">
  <div class="b1-page-actions__left" *ngrxLet="isLoading$ as isLoading">
    <b1-page-checkbox [ngModel]="selectAll$ | ngrxPush" (ngModelChange)="selectAll()"> </b1-page-checkbox>

    <div class="b1-page-icons">
      <ng-container *checkRole="['Director', 'Accountant']">
        <b1-button
          *ngIf="tab == 'ONMYSIGN'"
          class="b1-mr-4"
          icon="sign"
          label="components.pay.sign"
          (btnClick)="signApplications()"
          [isDisabled]="isLoading"></b1-button>
      </ng-container>

      <b1-button
        *ngIf="tab == 'SIGNED'"
        class="b1-mr-4"
        icon="send"
        label="components.pay.sendToBank"
        (btnClick)="sendToBankApplications()"
        [isDisabled]="isLoading"></b1-button>

      <b1-page-button
        label="actions.delete"
        *ngIf="tab != 'BANKRECEIVED'"
        (b1Click)="removeApplications()"
        [disabled]="isLoading"
        icon="delete">
      </b1-page-button>
    </div>
  </div>
  <form class="b1-page-actions__right" name="search" novalidate>
    <b1-input
      name="search"
      icon="search"
      [placeholder]="'shared.search' | translate"
      [resizable]="true"
      [ngModel]="filter$ | ngrxPush"
      (ngModelChange)="onFilter($event)"></b1-input>
  </form>
</div>
