<div class="b1-page-actions">
  <div class="b1-page-actions__left">
    <div class="b1-page-icons" style="margin-left: 0">
      <ng-container *ngrxLet="users$ as users">
        <b1-button
          *ngIf="users.length"
          label="components.admin.addEmployee"
          icon="plus"
          [mobileView]="true"
          (click)="onUserAdd()"
          [isDisabled]="isLoading$ | ngrxPush">
        </b1-button>
      </ng-container>
    </div>
  </div>

  <div class="b1-page-actions__right">
    <b1-input
      icon="search"
      [placeholder]="'shared.search' | translate"
      [resizable]="true"
      [ngModel]="filterTerm$ | ngrxPush"
      (ngModelChange)="onUsersFilter($event)"></b1-input>
  </div>
</div>
