<form
  *ngrxLet="isLoading$ as isLoading"
  [formGroup]="form"
  (ngSubmit)="onLogin()">
  <app-auth-input
    formControlName="userName"
    name="email"
    controlId="email"
    [c]="form.get('userName')!">
    {{ 'logon.EmailOrPhone' | translate }}
  </app-auth-input>

  <app-auth-input
    formControlName="password"
    controlId="password"
    name="password"
    type="password"
    autocomplete="on"
    [c]="form.get('password')!">
    {{ 'components.auth.YourPassword' | translate }}
  </app-auth-input>

  <auth-button type="submit" [isLoading]="isLoading" label="bid.Enter">
  </auth-button>
</form>

<auth-error [message]="errorMessage"></auth-error>
