<form
  *ngrxLet="isLoading$ as isLoading"
  [formGroup]="form"
  (ngSubmit)="onLogin()">
  <app-auth-input
    name="email"
    controlId="email"
    [formControl]="userNameControl">
    {{ 'logon.EmailOrPhone' | translate }}
  </app-auth-input>

  <app-auth-input
    controlId="password"
    name="password"
    type="password"
    autocomplete="on"
    [formControl]="passwordControl">
    {{ 'components.auth.YourPassword' | translate }}
  </app-auth-input>

  <auth-button type="submit" [isLoading]="isLoading" label="bid.Enter">
  </auth-button>
</form>

<auth-error [message]="errorMessage"></auth-error>
