<form [formGroup]="formGroup" #paymentForm="ngForm" class="swift-form">
  <div class="b1-form-block">
    <div class="b1-form-block-header">
      <div class="b1-form-block-header_index">1</div>
      <div class="b1-form-block-header_title">
        {{ 'components.salary.generalDetails' | translate }}
      </div>
    </div>
    <div class="b1-form-container">
      <b1-checkbox class="b1-base noselect" [formControl]="docNumberAutoControl" [hidden]="type != 'create'">
        {{ 'shared.autoNumber' | translate }}
      </b1-checkbox>
      <b1-input
        class="b1-mt-5"
        [formControl]="docNumberControl"
        [hidden]="docNumberAutoControl?.value"
        [labelTop]="false">
        {{ 'components.pay.paymentNumber' | translate }}
      </b1-input>

      <payment-dates-form [paymentForm]="formGroup"></payment-dates-form>
      <div class="b1-input b1-mt-5">
        <label class="b1-input__label b1-base">
          {{ 'components.pay.currency' | translate }}
        </label>
        <div class="w-full">
          <ng-select
            class="currencies"
            appendTo="body"
            [editableSearchTerm]="false"
            [searchable]="false"
            [clearable]="false"
            [formControl]="currencyControl">
            <ng-template ng-label-tmp let-item="item">
              <div class="b1-base b1-bold b1-flex b1-align-center">{{ item.name }} ({{ item.code }})</div>
            </ng-template>
            <ng-option *ngFor="let currency of currencies" [value]="currency">
              <div class="b1-base b1-bold b1-flex b1-align-center b1-justify-between">
                <span>{{ currency.name }}</span>
                <span>{{ currency.code }}</span>
              </div>
            </ng-option>
          </ng-select>

          <div class="b1-input__control currencies-mobile">
            <div class="b1-base b1-bold b1-flex b1-align-center">
              {{ currencyControl?.value?.name }} ({{ currencyControl?.value?.code }})
            </div>
            <i b1-icon icon="chevron-down" class="b1-input__select_chevron"></i>
            <select [formControl]="currencyControl" name="tabs" id="tabs" class="b1-input__select" #selectList>
              <option *ngFor="let currency of currencies" [value]="currency">
                {{ currency.name }} ({{ currency.code }})
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="b1-mt-5">
        <b1-input-amount [formControl]="amountControl"> </b1-input-amount>
      </div>

      <b1-input class="b1-mt-5" [formControl]="amountStringControl" [disabled]="true" [labelTop]="false">
        {{ 'components.pay.swift.amountString' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="purposeControl" [labelTop]="false">
        {{ 'components.pay.swift.contractNumberGoodType' | translate }}
      </b1-input>

      <b1-radio-button-group
        class="b1-mt-5"
        [formControl]="typePayControl"
        [items]="typesPay"
        direction="horizontal"
        classItem="b1-base"
        label="components.pay.swift.typePay">
      </b1-radio-button-group>

      <b1-radio-button-group
        class="b1-mt-5"
        [formControl]="paymentFeeControl"
        [items]="paymentsFee"
        direction="horizontal"
        classItem="b1-base"
        label="components.pay.swift.expenceFee">
      </b1-radio-button-group>

      <b1-input class="b1-mt-5" [formControl]="otherControl" [labelTop]="false">
        {{ 'components.pay.swift.others' | translate }}
      </b1-input>

      <div class="b1-mt-5">
        <b1-sup-documents [formControl]="attachedSupDocsControl"></b1-sup-documents>
      </div>

      <b1-checkbox class="b1-base noselect b1-mt-5" [formControl]="isAgreeControl">
        {{ 'components.pay.swift.iaccept' | translate }}
      </b1-checkbox>

      <button type="submit" (click)="test()">submit</button>
    </div>
    <div class="b1-form-block-header">
      <div class="b1-form-block-header_index">2</div>
      <div class="b1-form-block-header_title">
        {{ 'components.pay.swift.formTabsHeadings.sender' | translate }}
      </div>
    </div>
    <div class="b1-form-container">
      <div class="b1-large">
        {{ 'components.pay.swift.senderRequisites' | translate }}
      </div>
      <b1-account-select class="b1-mt-5" [selectAccounts]="availableAccounts" [formControl]="senderAccountControl">
      </b1-account-select>

      <b1-input class="b1-mt-5" [formControl]="senderDataNameControl" [labelTop]="false">
        {{ 'components.pay.swift.senderName' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="senderDataCountryControl" [labelTop]="false">
        {{ 'components.pay.swift.senderCountry' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="senderDataLocationControl" [labelTop]="false">
        {{ 'components.pay.swift.senderLocation' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="senderDataTaxCodeControl" [labelTop]="false">
        {{ 'components.pay.swift.senderTexCode' | translate }}
      </b1-input>

      <div class="b1-mt-6">
        <div class="b1-large">
          {{ 'components.pay.swift.senderBank' | translate }}
        </div>
      </div>
      <b1-input class="b1-mt-5" [formControl]="senderBankNameControl" [labelTop]="false">
        {{ 'components.pay.swift.senderBankName' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="senderBankLocationControl" [labelTop]="false">
        {{ 'components.pay.swift.senderBankLocation' | translate }}
      </b1-input>
    </div>

    <div class="b1-form-block-header">
      <div class="b1-form-block-header_index">3</div>
      <div class="b1-form-block-header_title">
        {{ 'components.pay.swift.formTabsHeadings.intermediaryBank' | translate }}
      </div>
    </div>

    <div class="b1-form-container">
      <b1-checkbox class="b1-base noselect" [formControl]="intermediaryBankRequiredControl">
        {{ 'components.pay.swift.intermediaryBankPresent' | translate }}
      </b1-checkbox>

      <ng-container *ngIf="intermediaryBankRequiredControl.value">
        <b1-input
          class="b1-mt-5"
          [formControl]="intermediaryBankSwiftControl"
          [labelTop]="false"
          [data]="swiftBanks"
          [itemTemplate]="itemTemplate">
          {{ 'components.pay.swift.intermediaryBankSwift' | translate }}
        </b1-input>

        <ng-template #itemTemplate let-item>
          {{ item.bic }}
        </ng-template>

        <b1-input class="b1-mt-5" [formControl]="intermediaryBankNameControl" [labelTop]="false">
          {{ 'components.pay.swift.intermediaryBankName' | translate }}
        </b1-input>

        <b1-input class="b1-mt-5" [formControl]="intermediaryBankLocationControl" [labelTop]="false">
          {{ 'components.pay.swift.intermediaryBankLocation' | translate }}
        </b1-input>
      </ng-container>
    </div>

    <div class="b1-form-block-header">
      <div class="b1-form-block-header_index">4</div>
      <div class="b1-form-block-header_title">
        {{ 'components.pay.swift.formTabsHeadings.benificiary' | translate }}
      </div>
    </div>

    <div class="b1-form-container">
      <div class="b1-large">
        {{ 'components.pay.swift.benificiary' | translate }}
      </div>

      <b1-input class="b1-mt-5" [formControl]="benificiaryAccNumberControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryAccount' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryIbanControl" [labelTop]="false">
        {{ 'components.pay.swift.beneficiaryAccountIBAN' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryNameControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryName' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryLocationControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryLocation' | translate }}
      </b1-input>

      <div class="b1-large b1-mt-6">
        {{ 'components.pay.swift.benificiaryBank' | translate }}
      </div>

      <b1-input class="b1-mt-5" [formControl]="benificiaryBankCorrAccNumberControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryBankAccount' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryBankSwiftControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryBankSwift' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryBankNameControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryBankName' | translate }}
      </b1-input>

      <b1-input class="b1-mt-5" [formControl]="benificiaryBankLocationControl" [labelTop]="false">
        {{ 'components.pay.swift.benificiaryBankLocation' | translate }}
      </b1-input>
    </div>
  </div>
</form>
