@import 'variables';

:host {
  display: block;

  &.b1-page-inputWithIcon {
    display: flex;
  }

  .b1-input__label {
    text-transform: none;
  }
}

.autocomplete {
  &-wrapper {
    position: relative;
  }
  &-container {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 200px;
    min-height: 0;
    z-index: 100;

    background: var(--color-light);
    border-radius: 2px * $border-radius-factor;
    border: 1px solid var(--color-light-200);
    box-shadow: 0 8px 24px rgba($color-dark, 0.2), 0 2px 4px rgba($color-dark, 0.1),
      inset 0 0 2px rgba($color-light, 0.2);
  }
  &-item {
    border-bottom: 1px solid var(--color-light-300);
    cursor: pointer;
    padding: 12px 8px;

    &:hover {
      background-color: var(--color-light-200);
    }
  }
}
