<label *ngIf="!icon" [class]="labelClasses" [for]="controlId" #labelRef>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</label>

<input
  class="b1-input__control"
  [class.resize]="resizable"
  [style.textTransform]="transform"
  [id]="controlId"
  [type]="type"
  [(ngModel)]="value"
  (ngModelChange)="inputHandleValue($any(value))"
  [attr.name]="name"
  [attr.autocomplete]="autocomplete"
  [attr.placeholder]="placeholder"
  [attr.minlength]="minLength"
  [attr.maxlength]="maxLength"
  [disabled]="isDisabled"
  (focus)="inputOnFocus($event)"
  #formControlRef
  *ngIf="!itemTemplate" />

<div class="autocomplete-wrapper" #autoCompleteWrapper *ngIf="itemTemplate">
  <input
    class="b1-input__control"
    [class.resize]="resizable"
    [style.textTransform]="transform"
    [id]="controlId"
    [type]="type"
    [(ngModel)]="value"
    (ngModelChange)="inputHandleValue($any(value))"
    [attr.name]="name"
    [attr.autocomplete]="autocomplete"
    [attr.placeholder]="placeholder"
    [attr.minlength]="minLength"
    [attr.maxlength]="maxLength"
    [disabled]="isDisabled"
    (focus)="inputOnFocus($event)"
    #formControlRef />
  <div *ngIf="data && itemTemplate && focused">
    <ng-container *ngrxLet="data as dataList">
      <ng-scrollbar
        *ngIf="dataList && dataList.length != 0"
        class="b1-page-card b1-bg-light b1-color-dark autocomplete-container"
        #scrollable
        (updated)="autoHeight()">
        <div class="autocomplete-item" *ngFor="let item of dataList" (click)="onSelectItem(item)">
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item, value: this.value }">
          </ng-container>
        </div>
      </ng-scrollbar>
    </ng-container>
  </div>
</div>

<label *ngIf="icon" [class.resize]="resizable" b1-icon [icon]="icon" [for]="controlId" #labelRef></label>

<ng-template #content><ng-content></ng-content></ng-template>

<p
  *ngIf="formControl && formControl.invalid && (formControl.dirty || formControl.touched)"
  class="b1-input__validate-message">
  {{ error!.text | translate: error!.params }}
</p>
