<label *ngIf="!icon" class="b1-input__label b1-input__label_top b1-small b1-bold" [for]="controlId" #labelRef>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</label>

<input
  class="b1-input__control"
  [class.resize]="resizable"
  [style.textTransform]="transform"
  [id]="controlId"
  [type]="type"
  [(ngModel)]="value"
  (ngModelChange)="handleValue($any(value))"
  [attr.name]="name"
  [attr.autocomplete]="autocomplete"
  [attr.placeholder]="placeholder"
  [attr.minlength]="minLength"
  [attr.maxlength]="maxLength"
  [disabled]="isDisabled"
  #formControlRef />

<label *ngIf="icon" [class.resize]="resizable" b1-icon [icon]="icon" [for]="controlId" #labelRef></label>

<ng-template #content><ng-content></ng-content></ng-template>

<p
  *ngIf="formControl && formControl.invalid && (formControl.dirty || formControl.touched)"
  class="b1-input__validate-message">
  {{ error!.text | translate: error!.params }}
</p>
