.agents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    //align-items: center;
    &-input {
        width: 50%;
        min-height: 44px;
        display: flex;
        align-items: center;
    }
}
