<div class="main-navbar main-navbar_brand" [class.b1-collapsed]="isCollapsed$ | ngrxPush">
    <a *ngrxLet="logo$ as logo">
        <img [src]="logo" alt="" class="main-navbar__app-logo">
    </a>
</div>
<div class="main-navbar b1-bg-light" [class.b1-collapsed]="isCollapsed$ | ngrxPush">
    <ul class="main-navbar__list">

    </ul>
    <ul class="main-navbar__list">
        <li class="main-navbar__list__item">
            <a href="#" class="main-navbar__list__item__link b1-base">
                Customers
                <span class="b1-badge b1-bg-info">{{countCustomers$ | ngrxPush}}</span>
            </a>
        </li>
        <!-- LANGUAGES -->
        <li ngbDropdown class="main-navbar__list__item" #dropdown="ngbDropdown" display="static"
            *ngrxLet="language$ as currentLanguage">
            <a class="main-navbar__list__item__link b1-base" id="languages"
                (click)="$event.stopPropagation(); dropdown.open();">
                <span>{{ 'shared.languages.' + currentLanguage | translate }}</span>
                <b class="caret"></b></a>
            <ul class="b1-dropdown b1-animate fade-in-up" ngbDropdownMenu aria-labelledby="languages"
                style="min-width: 160px;" *ngrxLet="languages$ as languages">
                <li class="b1-dropdown__item" *ngFor="let language of languages">
                    <a class="b1-dropdown__link b1-base"
                        (click)="$event.stopPropagation(); setLanguage(language); dropdown.close();">
                        {{ 'shared.languages.' + language | translate }}</a>
                </li>
            </ul>
        </li>
        <!-- DARK MODE -->
        <li class="main-navbar__list__item">
            <ng-container *ngrxLet="darkMode$ as darkMode">
                <a class="main-navbar__list__item__link b1-base" *ngIf="darkMode" (click)="disableDarkMode()">
                    <i b1-icon icon="adjust"></i>
                </a>
                <a class="main-navbar__list__item__link b1-base" *ngIf="!darkMode" (click)="setDarkMode()">
                    <i b1-icon icon="moon"></i>
                </a>
            </ng-container>


        </li>
        <!-- NOTIFICATIONS -->
        <li class="main-navbar__list__item" ngbDropdown #dropdown="ngbDropdown">
            <a class="main-navbar__list__item__link b1-base" style="position: relative;">
                <i b1-icon icon="bell" class="d-none d-sm-block"></i>
                <span class="d-block d-sm-none d-print-inline">{{'header.navbar.NOTIFICATIONS' | translate}}</span>
                <b class="caret d-block d-sm-none"></b>
                <ng-container *ngrxLet="countNotifications$ as countNotifications">
                    <span style="position: absolute; right: -4px; top: 2px;" *ngIf="countNotifications !=0"
                        class="b1-badge b1-bg-error">{{countNotifications}}</span>
                </ng-container>
            </a>
        </li>
        <li class="main-navbar__list__item b1-mr-4" ngbDropdown #profileDropdown="ngbDropdown">
            <a class="main-navbar__list__item__link b1-base" id="profile"
                (click)="$event.stopPropagation(); profileDropdown.open();">
                <ng-container *ngrxLet="userName$ as userName">
                    <span>{{userName || ('components.main.owner' | translate)}}</span>
                </ng-container>
                <b class="caret"></b>
                <span class="avatar" *ngrxLet="userPictureUrl$ as userPictureUrl">
                    <img [src]="userPictureUrl">
                </span>
            </a>
            <ul class="b1-dropdown b1-animate fade-in-up" ngbDropdownMenu aria-labelledby="languages"
                style="width: 100%; max-width: 400px;">
                <li class="b1-dropdown__item">
                    <!-- TODO change ui-sref to angular route -->
                    <a class="b1-dropdown__link b1-base" ui-sref="app.profile.settings">
                        <i b1-icon icon="settings" class="b1-mr-4"></i>
                        <span>{{'header.navbar.Settings' | translate}}</span>
                    </a>
                </li>
                <li class="b1-dropdown__item">
                    <!-- TODO change ui-sref to angular route -->
                    <a class="b1-dropdown__link b1-base" ui-sref="app.profile.index">
                        <i b1-icon icon="user" class="b1-mr-4"></i>
                        <span>{{'header.navbar.Profile' | translate}}</span>
                    </a>
                </li>
                <hr class="b1-separator" />
                <li class="b1-dropdown__item">
                    <a ng-click="logOut()" class="b1-dropdown__link b1-dropdown__link_error b1-base">
                        <i b1-icon icon="exit" class="b1-mr-4"></i>
                        <span>{{'header.navbar.Logout' | translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>