<form *ngrxLet="isLoading$ as isLoading" [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-auth-phone-input controlId="phone" [formControl]="phoneControl" [prefix]="phonePrefix">
    {{ 'components.auth.phoneNumber' | translate }}
  </app-auth-phone-input>

  <app-auth-password-input
    controlId="currentPassword"
    autocomplete="off"
    [showError]="true"
    [formControl]="currentPasswordControl">
    {{ 'components.auth.CurrentPassword' | translate }}
  </app-auth-password-input>

  <app-auth-password-input controlId="newPassword" autocomplete="off" [formControl]="newPasswordControl">
    {{ 'components.auth.NewPassword' | translate }}
  </app-auth-password-input>

  <app-auth-password-input
    controlId="confirmNewPassword"
    autocomplete="off"
    [showError]="true"
    [formControl]="confirmNewPasswordControl">
    {{ 'components.auth.ConfirmNewPassword' | translate }}
  </app-auth-password-input>

  <app-auth-button
    class="b1-mt-6"
    type="submit"
    [isLoading]="isLoading"
    label="components.profile.changePasswordTitle"
    [isDisabled]="form.invalid"></app-auth-button>
</form>

<app-auth-alert
  *ngIf="
    newPasswordControl.invalid &&
    newPasswordControl.dirty &&
    (newPasswordControl.errors?.minLowercaseCount ||
      newPasswordControl.errors?.minUppercaseCount ||
      newPasswordControl.errors?.minDigitsCount ||
      newPasswordControl.errors?.minSpecCharsCount)
  ">
  <ng-container slot="title"> {{ 'components.profile.security.passHasContain' | translate }}: </ng-container>
  <app-auth-alert-requirement [completed]="!newPasswordControl.errors?.minLowercaseCount">
    {{ 'components.profile.security.lowCaseLetters' | translate }}
  </app-auth-alert-requirement>
  <app-auth-alert-requirement [completed]="!newPasswordControl.errors?.minUppercaseCount">
    {{ 'components.profile.security.upperCaseLetters' | translate }}
  </app-auth-alert-requirement>
  <app-auth-alert-requirement [completed]="!newPasswordControl.errors?.minDigitsCount">
    {{ 'components.profile.security.digits' | translate }}
  </app-auth-alert-requirement>
  <app-auth-alert-requirement [completed]="!newPasswordControl.errors?.minSpecCharsCount">
    {{ 'components.profile.security.specSymbols' | translate }}
  </app-auth-alert-requirement>
</app-auth-alert>

<app-auth-back-link>
  {{ 'components.auth.GoToLoginPage' | translate }}
</app-auth-back-link>

<app-auth-error [message]="errorMessage"></app-auth-error>
