<b1-modal-container [isLoading$]="isLoading$">
  <ng-container slot="header">
    <div *ngIf="editingUser; else defaultTitle" class="b1-title2">
      {{ editingUser.displayName }}
    </div>
    <ng-template #defaultTitle>
      <div class="b1-large b1-bold">
        {{ 'components.admin.createEmployeeWithoutSignature' | translate }}
      </div>
    </ng-template>
  </ng-container>

  <form slot="body" [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <b1-masked-input
      name="phoneNumber"
      controlId="newUserPhone"
      [formControl]="phoneControl"
      mask="(000) 000-00-00"
      prefix="+38">
      {{ 'components.admin.cellPhone' | translate }}
    </b1-masked-input>

    <b1-input
      class="b1-mt-6"
      name="email"
      controlId="newUserEmail"
      [formControl]="emailControl"
      transform="lowercase">
      {{ 'components.admin.email' | translate }}
    </b1-input>

    <b1-switcher-list
      class="b1-mt-6"
      [formGroup]="$any(roleControlsArray)"
      [labels]="roleControlLabels">
      {{ 'components.admin.modules' | translate }}
    </b1-switcher-list>
  </form>

  <b1-button
    slot="footer"
    [label]="editingUser ? 'actions.save' : 'actions.continue'"
    [icon]="editingUser ? 'save' : 'arrow-right'"
    [isDisabled]="
      form.invalid ||
      !form.value.roles.includes(true) ||
      !isRoleChanged ||
      (isLoading$ | ngrxPush)
    "
    (btnClick)="f.ngSubmit.emit()">
  </b1-button>
</b1-modal-container>
