@import "../colors";

@mixin navbar {
  border-bottom: 1px solid rgba(var(--color-dark-rgb), 0.1);
}

@mixin sidemenu {
  background-color: $color-dark-100;
  color: $color-light;
}

@mixin sidemenu-head {
  background-color: $color-secondary;
  color: $color-light;
}

@mixin client-button {
  background-color: rgba($color-light, 0.1);
  color: $color-light;
}

@mixin collapse-button {
  background-color: $color-dark;
}

@mixin sidemenu-nav-item {
  &::after {
    background-color: $color-primary;
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
    transition: all 0.3s $animation-timing;
  }

  &:hover::after {
    width: 100%;
  }

  &__link {
    @include base;
    position: relative;
    opacity: 0.6;
    padding: 8px 16px !important;
    min-height: 40px;
    display: flex;
    align-items: center;
    z-index: 9;

    &__icon {
      width: 20px;
      height: 24px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      text-align: center;
      color: $color-primary;
      transition: transform 0.3s $animation-timing, color 0.3s $animation-timing;

      &_opt {
        color: $color-tertiary;
      }
    }

    &__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover &__link {
    opacity: 1;

    &__icon {
      transform: translateY(2px);
      color: $color-light !important;
    }
  }

  &.active &__link {
    opacity: 1;
    background-color: rgba($color-light, 0.05);
    color: $color-light;
  }

  &_opt {
    &::after {
      background-color: $color-tertiary;
    }
  }
}

@mixin data-row {
  border-radius: 10px;
  margin: 0 32px;
  margin-bottom: 8px;
}

@mixin selected-row {
  background-image: $linear-gradient;
  color: var(--color-light);
}
@mixin hover-row {
  background-image: $linear-gradient-light;
}
@mixin data-row {
  border-radius: 10px;
  margin: 0 32px;
  margin-bottom: 8px;
}
