<b1-modal-container [loader]="false">
  <ng-container slot="header">
    {{ 'components.corpcard.editingLimit' | translate }}
  </ng-container>

  <ng-container slot="body">
    <div class="row">
      <div class="col-md-12">
        <div class="b1-medium b1-light">
          <i b1-icon icon="cash" *ngIf="limit.type == 'ATM'"></i>
          <i b1-icon icon="internet-payment" *ngIf="limit.type == 'Hotel'"></i>
          <i b1-icon icon="internet" *ngIf="limit.type == 'Internet'"></i>
          <i b1-icon icon="shop" *ngIf="limit.type == 'Retail'"></i>
          <i b1-icon icon="cards" *ngIf="limit.type == 'P2P'"></i>
          <span class="b1-ml-3">
            {{ 'components.corpcard.limits.' + limit.type | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="row b1-mt-5">
      <div class="col-md-12">
        <b1-radio-button-group name="limit" [(ngModel)]="limitState" [items]="limitRadioButtons">
        </b1-radio-button-group>
      </div>
    </div>

    <div class="row b1-mt-6" *ngIf="limitState == 'limit'">
      <div class="col-md-12">
        <b1-input-amount [(ngModel)]="limit.value" [labelTop]="true"> </b1-input-amount>
      </div>
    </div>
  </ng-container>

  <b1-button slot="footer" icon="save" label="actions.save" (btnClick)="save()"></b1-button>
</b1-modal-container>
