<div class="b1-modal-data">
  <div class="b1-modal-close">
    <i b1-icon icon="cancel" (click)="modal.close()"></i>
  </div>
  <div class="b1-modal-header">
    {{ 'components.corpcard.editingLimit' | translate }}
  </div>
  <div class="b1-modal-body b1-modal-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="b1-medium b1-light">
          <i b1-icon icon="cash" *ngIf="limit.type == 'ATM'"></i>
          <i b1-icon icon="internet-payment" *ngIf="limit.type == 'Hotel'"></i>
          <i b1-icon icon="internet" *ngIf="limit.type == 'Internet'"></i>
          <i b1-icon icon="shop" *ngIf="limit.type == 'Retail'"></i>
          <i b1-icon icon="cards" *ngIf="limit.type == 'P2P'"></i>
          <span class="b1-ml-3">
            {{ 'components.corpcard.limits.' + limit.type | translate }}
          </span>
        </div>
      </div>
    </div>
    <div class="row b1-mt-5">
      <div class="col-md-12">
        <label class="b1-checkbox">
          <input class="b1-checkbox__hidden" type="radio" name="limit" value="unlimit" [(ngModel)]="limitState" /><i
            class="b1-checkbox__check"></i>
          <span>
            {{ 'components.corpcard.limit.state.unLimit' | translate }}
          </span>
        </label>
      </div>
      <div class="col-md-12 b1-mt-4">
        <label class="b1-checkbox">
          <input class="b1-checkbox__hidden" type="radio" name="limit" value="zero" [(ngModel)]="limitState" /><i
            class="b1-checkbox__check"></i>
          <span>
            {{ 'components.corpcard.limit.state.zero' | translate }}
          </span>
        </label>
      </div>
      <div class="col-md-12 b1-mt-4">
        <label class="b1-checkbox">
          <input class="b1-checkbox__hidden" type="radio" name="limit" value="limit" [(ngModel)]="limitState" /><i
            class="b1-checkbox__check"></i>
          <span>
            {{ 'components.corpcard.limit.state.limit' | translate }}
          </span>
        </label>
      </div>
    </div>
    <div class="row b1-mt-6" *ngIf="limitState == 'limit'">
      <div class="col-md-12">
        <b1-input-amount [(ngModel)]="limit.value" [labelTop]="true"> </b1-input-amount>
      </div>
    </div>
  </div>
  <div class="b1-modal-footer">
    <b1-button icon="save" label="actions.save" (btnClick)="save()"></b1-button>
  </div>
</div>
