@import 'variables';


$screen-tablet: 812px;


.b1-sup-docs {
  display: flex;
  flex-wrap: wrap;
  min-height: 450px;

  b1-skeleton {
    padding: 24px;
    border: 2px solid rgba(var(--color-dark-rgb), 0.14);
    border-radius: 12px;

    width: 200px;
    height: 200px;  

    margin: 12px;
  
  }
}




  