$screen-tablet: 812px;

.b1-modal-container {
  &__title {
    padding: 0 64px;
    text-align: center;
    word-break: break-word;

    @media (max-width: $screen-tablet) {
      padding: 0 32px;
    }
  }

  &__footer ::ng-deep {
    button {
      margin-right: 0;
    }
  }
}
