<ng-container *ngrxLet="formState$ as formState">
  <form class="b1-page-actions" novalidate [ngrxFormState]="formState">
    <div class="b1-page-actions__left">
      <div class="b1-page-icons" style="margin-left: 0">
        <div style="display: flex">
          <b1-round-checkbox
            name="currency"
            controlId="₴"
            [ngrxFormControlState]="formState.controls.currency.controls.UAH">
            ₴
          </b1-round-checkbox>
          <b1-round-checkbox
            name="currency"
            controlId="$"
            [ngrxFormControlState]="formState.controls.currency.controls.USD">
            $
          </b1-round-checkbox>
          <b1-round-checkbox
            name="currency"
            controlId="€"
            [ngrxFormControlState]="formState.controls.currency.controls.EUR">
            €
          </b1-round-checkbox>
          <b1-round-checkbox
            name="currency"
            controlId="other"
            [ngrxFormControlState]="formState.controls.currency.controls.OTHER">
            ...
          </b1-round-checkbox>
        </div>
      </div>
    </div>
    <div class="b1-page-actions__right">
      <b1-input
        icon="search"
        [placeholder]="'shared.search' | translate"
        [resizable]="true"
        [ngrxFormControlState]="formState.controls.filter"></b1-input>
    </div>
  </form>
</ng-container>
