<div class="account">
    <div class="account-icon">
        <i b1-icon icon="university" class="b1-large" *ngIf="!account.IsCardAccount"
            [ngbTooltip]="'components.acct.currentAccount' | translate" placement="right"></i>
        <i b1-icon icon="account-card" class="b1-large" *ngIf="account.IsCardAccount"
            [ngbTooltip]="'components.acct.cardAccount' | translate" placement="right"></i>
    </div>
    <div class="account-body">
        <div class="account-name b1-ellipsis">
            {{account.Name}}
            <div class="account-number" [iban]="account.Number">
            </div>
        </div>
        <div class="account-date">
            <span>{{'components.acct.acctDetail.turnoverDate' | translate}}</span>
            <span class="b1-ml-2 b1-mr-2">-</span>
            <span>{{account.LastActive | date:'dd.MM.yyyy'}}</span>
        </div>
        <div class="account-amount">
            <div class="account-balance">
                <span>{{account.Balance / 100 | money}}</span>
                <span class="b1-ml-2">{{account.CurrencyCode}}</span>
            </div>
            <div class="account-turns">
                <div class="account-turns-debit">
                    <i b1-icon icon="chevron-down"></i>
                    {{account.DebitTurns / 100 | money}}
                </div>
                <div class="account-turns-credit">
                    <i b1-icon icon="chevron-up"></i>
                    {{account.CreditTurns / 100 | money}}
                </div>
            </div>
        </div>
    </div>
    <div class="account-more b1-card__col b1-card__col_dot" style="position: relative;">
        <div class="dropdown">
            <a class="b1-card__v-dots" (click)="$event.stopPropagation(); dropdown.open();">
            </a>
            <ul class="b1-dropdown b1-bg-light b1-animate fade-in-up" role="menu" style="width: 350px;" ngbDropdown
                #dropdown="ngbDropdown">
                <li class="b1-dropdown__item"
                    ng-if="IsEnableFunction('Accounts','Requisites') && account.CurrencyCode == 'UAH'">
                    <a class="b1-dropdown__link b1-base" href="" ng-click="accountsCtrl.accActions.share(account)">
                        <i class="ub-icons ub-icons-icon-file b1-mr-3"></i>
                        {{'components.acct.share' | translate}}
                    </a>
                </li>
                <li class="b1-dropdown__item" ng-if="account.IsPayingAccount">
                    <a class="b1-dropdown__link b1-base" href="" ng-click="accountsCtrl.accActions.createPayment($event, account.Id,
                                   'INNER')">
                        <i class="ub-icons ub-icons-icon-my-accounts b1-mr-3"></i>
                        <span data-translate="components.acct.newPayment">новий платіж</span>&nbsp
                        <span data-translate="components.pay.actions.innerPay">між власними рахунками</span>
                    </a>
                </li>
                <li class="b1-dropdown__item" ng-if="account.IsPayingAccount">
                    <a class="b1-dropdown__link b1-base" href="" ng-click="accountsCtrl.accActions.createPayment($event, account.Id,
                                   'OUTER')">
                        <i class="ub-icons ub-icons-icon-country b1-mr-3"></i>
                        <span data-translate="components.acct.newPayment">новий платіж</span>&nbsp
                        <span data-translate="components.pay.actions.inUrainePay">
                            по Україні
                        </span>
                    </a>
                </li>
                <li class="b1-dropdown__item" ng-if="account.IsPayingAccount">
                    <a data-role-in="Director,Accountant,ForeignCurrencyPaymentsManager"
                        class="b1-dropdown__link b1-base" href=""
                        ng-show="accountsCtrl.isForeignCurrency(account.CurrencyCode)" ng-click="accountsCtrl.accActions.createPayment($event, account.Id,
                                   'SWIFT')">
                        <i class="ub-icons ub-icons-icon-SWIFT b1-mr-3"></i>
                        <span data-translate="components.acct.newPayment">новий платіж</span>&nbsp
                        <span data-translate="components.pay.actions.swift">
                            SWIFT
                        </span>
                    </a>
                </li>

            </ul>
        </div>

    </div>

</div>