@import "variables";
:host {
    height: 90px;
    @media (max-width: 812px) {
        height: 120px;
    }
}
.account {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    @media (max-width: 812px) {
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 8px 16px;
        padding-bottom: 0;
    }
    &-body {
        width: calc(100% - 100px);
        display: flex;
        align-items: center;
        @media (max-width: 812px) {
            width: calc(100% - 32px);
            flex-direction: column;
        }
    }
    &-icon {
        margin-left: 16px;
        width: 24px;
        height: 24px;
        @media (max-width: 812px) {
            display: none;
        }
    }

    &-name {
        @include medium;
        margin-left: 42px;
        width: 40%;
        @media (max-width: 812px) {
            margin-left: 0;
            width: 100%;
        }
    }

    &-number {
        @include base;
        @include bold;
        @media (max-width: 812px) {
            display: none;
        }
    }

    &-date {
        @include base;
        @include bold;
        margin-left: 42px;
        @media (max-width: 812px) {
            margin-left: 0;
            width: 100%;
            color: $color-light-500;
            @include light;
        }
    }

    &-amount {
        text-align: right;
        width: 40%;
        @media (max-width: 812px) {
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
    }
    &-balance {
        @include large;
        @media (max-width: 812px) {
            @include medium;
        }
    }
    &-turns {
        @include base;
        @include light;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-credit {
            color: $color-success;
            margin-left: 42px;
            @media (max-width: 812px) {
                margin-left: 0px;
            }
        }
        &-debit {
            color: $color-error;
            @media (max-width: 812px) {
            }
        }

        @media (max-width: 812px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    &-more {
        .b1-card__v-dots:not(.without-after):after {
            content: "";
            position: absolute;
            z-index: 2;
            width: 90px;
            height: 90px;
            overflow: hidden;
        }
        @media (max-width: 812px) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}
