<div
  class="invisible-xs h-100 w-100"
  ngbDropdown
  #dropdown="ngbDropdown"
  [display]="display">
  <div (click.stop)="dropdown.open()">
    <ng-content></ng-content>
  </div>

  <ul
    class="b1-dropdown b1-animate fade-in-up"
    ngbDropdownMenu
    [attr.aria-labelledby]="label"
    [class.b1-dropdown_up]="top"
    [class.b1-dropdown_left]="left"
    [ngStyle]="{ minWidth, maxWidth }">
    <li
      *ngFor="let button of buttons"
      class="b1-dropdown__item"
      [class.b1-dropdown__item_bordered]="!!button.separate">
      <a
        class="b1-dropdown__link b1-base"
        [class.b1-dropdown__link_error]="!!button.danger"
        (click.stop)="button.clickHandler($any($event)); dropdown.close()">
        <i *ngIf="button.icon" b1-icon [icon]="button.icon" class="b1-mr-4"></i>
        <span>{{ button.translate | translate }}</span>
      </a>
    </li>
  </ul>
</div>
