<ng-container *ngrxLet="account$ as account">
  <ng-container *ngrxLet="isLoading$ as isLoading">
    <div class="b1-account" *ngIf="account">
      <div class="b1-account-header">
        <div class="b1-account-header_card">
          <div class="b1-flex b1-align-center b1-justify-between">
            <div class="b1-medium b1-ellipsis">
              {{ account.name }}
            </div>
            <div class="b1-large b1-ml-2 b1-hover-info pointer" (click)="editAccount(account)">
              <i b1-icon icon="edit"></i>
            </div>
          </div>
          <div class="b1-large b1-mt-6">
            {{ account.balance / 100 | money: '' }}
            {{ account.currencyCode }}
          </div>
          <div class="b1-base b1-bold">
            <div class="b1-flex b1-align-center">
              <div class="b1-color-error b1-mr-5 b1-light">
                <i b1-icon icon="chevron-down" class="b1-mr-2"></i>
                <span>{{ account.debitTurns / 100 | money: '' }}</span>
              </div>
              <div class="b1-color-success b1-light">
                <i b1-icon icon="chevron-up" class="b1-mr-2"></i>
                <span>{{ account.creditTurns / 100 | money: '' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="b1-account-header_info">
          <div class="row">
            <div class="col-md-12">
              <div class="b1-base b1-color-dark-300">
                {{ 'components.pay.account' | translate }}
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                <span [iban]="account.number"></span>
              </div>
            </div>
          </div>
          <div class="row" webClass="b1-mt-5" mobileClass="b1-mt-3">
            <div class="col-8">
              <div class="b1-base b1-color-dark-300">
                {{ 'components.acct.acctDetail.futureBalance' | translate }}
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                {{ account.plannedBalance / 100 | money: '' }}
                {{ account.currencyCode }}
              </div>
            </div>
            <div class="col-4">
              <div class="b1-base b1-color-dark-300">
                {{ 'components.acct.acctDetail.turnoverDate' | translate }}
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                {{ account.lastActive | date: 'dd.MM.yyyy' }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <b1-dropdown class="b1-account-more" label="account actions" menuWidth="360px">
        <b1-more-button slot="toggle" [horizontal]="true"></b1-more-button>
        <!-- TODO ADD  IsPayingAccount on backend-->
        <b1-dropdown-link
          icon="cards"
          [label]="('components.acct.newPayment' | translate) + ' ' + ('components.pay.actions.innerPay' | translate)"
          ng-if="account.IsPayingAccount"
          ng-click="accountsCtrl.accActions.createPayment($event, account.Id,'INNER')"></b1-dropdown-link>
        <!-- TODO ADD  IsPayingAccount on backend-->
        <b1-dropdown-link
          icon="country"
          [label]="
            ('components.acct.newPayment' | translate) + ' ' + ('components.pay.actions.inUrainePay' | translate)
          "
          ng-if="account.IsPayingAccount"
          ng-click="accountsCtrl.accActions.createPayment($event, account.Id, 'OUTER')"></b1-dropdown-link>
        <!-- TODO ADD  IsPayingAccount on backend-->
        <!-- TODO ADD Directive role in -->
        <b1-dropdown-link
          icon="swift"
          [label]="('components.acct.newPayment' | translate) + ' ' + ('components.pay.actions.swift' | translate)"
          ng-if="account.IsPayingAccount"
          ng-show="accountsCtrl.isForeignCurrency(account.CurrencyCode)"
          ng-click="accountsCtrl.accActions.createPayment($event, account.Id, 'SWIFT')"
          data-role-in="Director,Accountant,ForeignCurrencyPaymentsManager"></b1-dropdown-link>
      </b1-dropdown>
    </div>

    <!-- SKELETON -->
    <div class="b1-account" *ngIf="!account && isLoading">
      <div class="b1-account-header">
        <div class="b1-account-header_card">
          <div class="b1-flex b1-align-center b1-justify-between">
            <div class="b1-medium b1-ellipsis width-100">
              <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
            </div>
          </div>
          <div class="b1-large b1-mt-6">
            <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
            <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
          </div>
          <div class="b1-base b1-bold">
            <div class="b1-flex b1-align-center">
              <div class="b1-color-error b1-mr-5 b1-flex b1-align-center">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
              <div class="b1-color-success b1-flex b1-align-center">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
        <div class="b1-account-header_info">
          <div class="row">
            <div class="col-md-12">
              <div class="b1-micro b1-page-data__subtitle b1-mb-2 width-50">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="b1-micro b1-page-data__subtitle b1-mb-2 width-50">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
            </div>
            <div class="col-md-6">
              <div class="b1-micro b1-page-data__subtitle b1-mb-2 width-50">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
              <div class="b1-base b1-bold b1-ellipsis">
                <ngx-skeleton-loader animation="pulse"> </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
