<!-- <div class="b1-wrapper no-wrap-xs b1-full-screen">
  <app-users-header></app-users-header>

  <div style="position: relative" class="full-screen">
    <div class="b1-page-card b1-bg-light">
      <app-users-actions></app-users-actions>

      <b1-card-loader [isLoading]="isLoading$"></b1-card-loader>

      <b1-content-wrapper *ngrxLet="isLoading$ as isLoading">
        <ng-container *ngrxLet="users$ as users">
          <app-users-list *ngIf="users.length"></app-users-list>

          <b1-empty
            *ngIf="!users.length && !isLoading"
            svgName="empty-users"
            header="components.users.doNotExist"
            description="components.users.displayIfAdd">
            <b1-button
              label="components.admin.addEmployee"
              icon="plus"
              (click)="onUserAdd()"
              [isDisabled]="isLoading">
            </b1-button>
          </b1-empty>
        </ng-container>
      </b1-content-wrapper>
    </div>
  </div>
</div> -->

<div class="b1-wrapper no-wrap-xs b1-full-screen">
  <app-users-header></app-users-header>

  <div style="position: relative" class="full-screen">
    <div class="b1-page-card b1-bg-light">
      <app-users-actions></app-users-actions>

      <b1-card-loader [isLoading]="isLoading$"></b1-card-loader>

      <b1-content-wrapper>
        <app-users-list></app-users-list>
      </b1-content-wrapper>
    </div>
  </div>
</div>
