<form [formGroup]="formGroup" #paymentForm="ngForm">
  <b1-checkbox class="b1-base noselect" [formControl]="docNumberAutoControl">
    {{ 'shared.autoNumber' | translate }}
  </b1-checkbox>
  <div class="b1-mt-5" [hidden]="docNumberAutoControl?.value">
    <b1-input [labelTop]="false" [formControl]="docNumberControl">
      {{ 'components.pay.paymentNumber' | translate }}
    </b1-input>
  </div>
  <b1-account-select class="b1-mt-5" [selectAccounts]="senderAccounts" [formControl]="senderAccountControl">
    <b1-input-error [control]="senderAccountControl" [form]="paymentForm"> </b1-input-error>
  </b1-account-select>
  <b1-account-select
    label="components.pay.accountTo"
    class="b1-mt-5"
    [labelNotFound]="
      'components.acct.noActiveAccountRecepientWithCurrency'
        | translate: { currency: senderAccountControl.value?.currencyCode }
    "
    [selectAccounts]="recipientAccountsWithoutSender"
    [formControl]="recipientAccountControl">
    <b1-input-error [control]="recipientAccountControl" [form]="paymentForm"> </b1-input-error>
  </b1-account-select>

  <payment-dates-form [paymentForm]="formGroup"></payment-dates-form>

  <div class="b1-mt-5">
    <b1-input-amount [formControl]="amountControl">
      <b1-input-error [control]="amountControl" [form]="paymentForm"> </b1-input-error>
    </b1-input-amount>
  </div>

  <div class="b1-mt-5">
    <div class="b1-input">
      <label class="b1-input__label b1-base">
        {{ 'components.pay.purpose' | translate }}
      </label>
      <payment-purpose-form [formControl]="purposeControl" [form]="paymentForm" [amount]="amountControl.value">
      </payment-purpose-form>
    </div>
  </div>
</form>
