<b1-modal-container [loader]="false">
  <ng-container slot="header">
    {{ 'components.acct.acctStatement.GetStatementStart' | translate }}
  </ng-container>

  <form slot="body" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12">
        <b1-radio-button-group
          class="b1-small b1-bold"
          [formControl]="$any(formGroup.controls.type)"
          [(ngModel)]="result.type"
          [items]="typeRadioButtons">
        </b1-radio-button-group>
      </div>
    </div>

    <div class="row b1-mt-6">
      <div class="col-md-12">
        <div class="b1-flex b1-input">
          <label class="b1-input__label b1-input__label_top b1-small b1-bold">
            {{ 'components.acct.period' | translate }}
          </label>
          <div class="b1-page-inputWithIcon">
            <input
              class="b1-datepicker__input b1-rangepicker"
              b1-daterangepicker
              startKey="start"
              endKey="end"
              [(ngModel)]="result.range"
              name="daterange"
              [ranges]="ranges"
              readonly
              formControlName="range" />
            <label for="calendar" b1-icon icon="calendar"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="row b1-mt-5">
      <div class="col-md-12">
        <b1-checkbox
          class="b1-small b1-bold"
          [formControl]="$any(formGroup.controls.sendToEmail)"
          [(ngModel)]="result.sendToEmail"
          (ngModelChange)="result.email = config.email">
          {{ 'components.acct.acctStatement.send2mail' | translate }}
        </b1-checkbox>
      </div>
    </div>

    <div class="row" [hidden]="!result.sendToEmail">
      <div class="col-md-12">
        <b1-input
          class="b1-mt-6"
          [formControl]="$any(formGroup.controls.email)"
          type="email"
          name="email"
          [required]="result.sendToEmail"
          [(ngModel)]="result.email">
          {{ 'components.profile.Email' | translate }}
        </b1-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="b1-input b1-mt-6">
          <label class="b1-input__label b1-input__label_top b1-small b1-bold">
            {{ 'components.acct.acctStatement.format' | translate }}
          </label>
          <div class="w-full">
            <ng-select
              class="formats"
              appendTo="body"
              [editableSearchTerm]="false"
              [searchable]="false"
              [clearable]="false"
              [(ngModel)]="result.format"
              formControlName="format">
              <ng-template ng-label-tmp let-item="item">
                <div class="b1-base b1-bold b1-flex b1-align-center">
                  <i class="b1-mr-2 b1-title3" b1-icon [icon]="'file-' + item.toLowerCase()"></i>
                  {{ item }}
                </div>
              </ng-template>
              <ng-option *ngFor="let format of config.formats" [value]="format">
                <div class="b1-base b1-bold b1-flex b1-align-center">
                  <i class="b1-mr-2 b1-title1" b1-icon [icon]="'file-' + format.toLowerCase()"></i>
                  {{ format }}
                </div>
              </ng-option>
            </ng-select>

            <div class="b1-input__control formats-mobile">
              <div class="b1-base b1-bold b1-flex b1-align-center">
                <i class="b1-mr-2 b1-title3" b1-icon [icon]="'file-' + result.format.toLowerCase()"></i>
                {{ result.format }}
              </div>
              <i b1-icon icon="chevron-down" class="b1-input__select_chevron"></i>
              <select
                [(ngModel)]="result.format"
                name="tabs"
                id="tabs"
                class="b1-input__select"
                #selectList
                formControlName="format">
                <option *ngFor="let format of config.formats" [value]="format">
                  {{ format }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" [hidden]="config.isFree">
      <div class="col-md-12">
        <b1-checkbox
          class="b1-mt-5 b1-small b1-bold"
          [formControl]="$any(formGroup.controls.agree)"
          [(ngModel)]="agree">
          {{ 'components.corpcard.thisFunctionIsPayConfirm' | translate }}
        </b1-checkbox>
      </div>
    </div>
  </form>

  <b1-button
    slot="footer"
    [icon]="result.sendToEmail ? 'send' : 'download'"
    [label]="result.sendToEmail ? 'shared.send' : 'shared.download'"
    (btnClick)="ok()"
    [isDisabled]="formGroup.invalid || (!config.isFree && !agree)"></b1-button>
</b1-modal-container>
