<div class="supdocument-item__image">
    <i b1-icon icon="delete" class="b1-page-more_icon" ></i>
    <!--  -->
</div>

<div class="supdocument-item__name b1-ellipsis">{{ supdocument.fileName }}</div>
<div class="supdocument-item__subtitle">{{ supdocument.fileSize }}</div>
  
<b1-dropdown
    class="supdocument-item__more b1-card__col b1-card__col_dot"
    label="user's actions"
    menuWidth="180px"
    scopeSelector="app-users-list">
    <b1-more-button slot="toggle"></b1-more-button>

    <b1-dropdown-link icon="delete" label="actions.delete" [danger]="true"></b1-dropdown-link>
</b1-dropdown>
