<div class="supdocument-item__image">
    <i b1-icon icon="file-pdf" class="supdocument-item__image__pdf"></i>
    <i b1-icon icon="key" *ngIf='ifSigned()'></i>
</div>


<div class="supdocument-item__name b1-ellipsis">{{ supdocument.fileName }}</div>
<div class="supdocument-item__subtitle">{{ formatBytes(supdocument.fileSize, 2) }}</div>


  
<b1-dropdown
    class="supdocument-item__more b1-card__col b1-card__col_dot"
    label="user's actions"
    menuWidth="180px"
    scopeSelector="app-supdocuments-list">
    <b1-more-button slot="toggle"></b1-more-button>

    <b1-dropdown-link icon="sign" label="actions.sign" [danger]="false"></b1-dropdown-link>
    <b1-dropdown-link icon="file" label="components.supDocuments.actions.details" [danger]="false"></b1-dropdown-link>
    <b1-dropdown-link icon="download" label="components.supDocuments.actions.download" [danger]="false"></b1-dropdown-link>
    <b1-dropdown-link icon="delete" label="actions.delete" [danger]="true"
    (btnClick)="onSupdocumentDelete()"></b1-dropdown-link>
    
</b1-dropdown>
