<b1-modal-container [isLoading$]="isLoading$">
  <ng-container slot="header">
    {{ 'components.admin.createEmployeeWithoutSignature' | translate }}
  </ng-container>

  <form slot="body" [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <b1-input
      name="lastName"
      controlId="newUserLastName"
      [formControl]="lastNameControl">
      {{ 'components.admin.lastName' | translate }}
    </b1-input>

    <b1-input
      class="b1-mt-6"
      name="firstName"
      controlId="newUserFirstName"
      [formControl]="firstNameControl">
      {{ 'components.admin.firstName' | translate }}
    </b1-input>

    <b1-input
      class="b1-mt-6"
      name="secondName"
      controlId="newUserSecondName"
      [formControl]="secondNameControl">
      {{ 'components.admin.secondName' | translate }}
    </b1-input>
  </form>

  <b1-button
    slot="footer"
    label="actions.save"
    icon="save"
    [isDisabled]="form.invalid || (isLoading$ | ngrxPush)"
    (btnClick)="f.ngSubmit.emit()">
  </b1-button>
</b1-modal-container>
