:host {
  height: 90px;
  @media (max-width: 812px) {
    height: 180px;
  }
}
.application {
  &-icon {
    width: 40px;
    height: 40px;
    @media (max-width: 812px) {
      display: none;
    }
  }
  &-body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    padding: 0 32px;
    @media (max-width: 812px) {
      grid-template-columns: 1fr;
      grid-gap: 16px;
      padding: 0 16px;
    }
    &_number {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      @media (max-width: 812px) {
        justify-content: flex-start;
        text-align: left;
      }
    }
    &_expired {
      text-align: right;
      @media (max-width: 812px) {
        text-align: left;
      }
    }
  }
}
