<div class="b1-page-content">
  <b1-page-checkbox
    controlId="checkbox{{ application.id }}"
    [ngModel]="application.selected"
    (change)="$event.stopPropagation()"
    (ngModelChange)="selectApplication()">
  </b1-page-checkbox>

  <div class="b1-flex b1-align-center b1-justify-center b1-ml-6 application-icon">
    <img [src]="getImage() | async" />
  </div>
  <div class="application-body">
    <div class="application-body_item">
      <div class="b1-medium">
        <span>№</span>
        <span>{{ application.id }}</span>
      </div>
      <div class="b1-page-data__subtitle b1-light">
        <span>{{ 'components.pay.from' | translate }}</span>
        <span class="b1-mr-2">:</span>
        <span>{{ application.createDate | date: 'dd.MM.yyyy' }} </span>
      </div>
    </div>
    <div class="application-body_item">
      <div class="b1-medium">
        {{ application.cardOwnerName }}
      </div>
      <div class="b1-page-data__subtitle b1-light">
        <span [iban]="application.accountNumber"></span>
      </div>
    </div>
    <div class="application-body_item">
      <div class="application-body_number">
        <b1-card-number [cardNumber]="application.cardNumber"></b1-card-number>
      </div>
      <div class="b1-page-data__subtitle b1-light application-body_expired">
        <span>{{ application.cardExpired }}</span>
        <span b1-icon icon="arrow-right" class="b1-ml-2 b1-mr-2"></span>
        <span>{{ application.newExpiredDate }}</span>
      </div>
    </div>
  </div>
  <b1-dropdown class="application-more b1-card__col b1-card__col_dot" label="application actions" menuWidth="180px">
    <a class="b1-card__v-dots" openButton></a>
    <b1-dropdown-link icon="list" label="shared.historyDocument" (btnClick)="showHistory()"></b1-dropdown-link>
    <b1-dropdown-link icon="sign" label="components.pay.showSignes" (btnClick)="showSignes()"></b1-dropdown-link>
    <b1-dropdown-link
      *ngIf="application.statusCode != 'BANKRECEIVED' && application.statusCode != 'BANKPAID'"
      icon="delete"
      label="actions.delete"
      [danger]="true"
      (btnClick)="removeApplication()"></b1-dropdown-link>
  </b1-dropdown>
</div>
