<div class="b1-modal b1-bg-light">
  <div class="b1-wrapper text-center">
    <span class="b1-title3">{{ 'shared.confirmation' | translate }}</span>
  </div>
  <div class="b1-modal__body b1-wrapper">
    <div class="b1-medium b1-light" style="word-break: break-word" [innerHTML]="config.text"></div>
  </div>
  <div class="b1-modal__footer b1-wrapper text-center" ngbAutofocus>
    <b1-button mode="error" [filled]="false" icon="cancel" label="shared.No" (btnClick)="close()"></b1-button>
    <b1-button [filled]="false" icon="check" label="shared.Yes" (btnClick)="ok()"></b1-button>
  </div>
</div>
