<ng-container *ngrxLet="currencyCode$ as currencyCode">
  <div class="b1-page-data__row transaction" (click)="showTransaction()">
    <div class="b1-page-content_type transaction-type">
      <div class="b1-transaction-type-credit" *ngIf="payment.credit > payment.debit">
        <i b1-icon icon="arrow-up"></i>
      </div>
      <div class="b1-transaction-type-debit" *ngIf="payment.credit < payment.debit">
        <i b1-icon icon="arrow-down"></i>
      </div>
    </div>
    <div class="transaction-body b1-ellipsis">
      <div class="transaction-number">
        <div class="b1-medium b1-ellipsis" webClass="b1-medium" mobileClass="b1-base bold">
          <span>{{ 'components.pay.number' | translate }}</span>
          <span> {{ payment.documentNumber || payment.documentId }}</span>
        </div>
        <div class="b1-medium b1-page-data__subtitle b1-light" webClass="b1-medium" mobileClass="b1-base">
          <span>{{ 'components.pay.from' | translate }}</span
          >:
          <span>{{ payment.payedDate || payment.createDate | date: 'dd.MM.yyyy' }} </span>
        </div>
      </div>
      <div class="transaction-correspondent">
        <div class="b1-medium" style="display: flex; align-items: center">
          <span class="b1-ellipsis">
            {{ payment.correspondentName }}
          </span>
        </div>
        <div id="purpose" class="b1-medium b1-page-data__subtitle b1-light">
          {{ payment.purpose }}
        </div>
      </div>
      <div class="transaction-amount">
        <div class="b1-title3 text-right">
          <span class="b1-large b1-bold" *ngIf="payment.credit > payment.debit">
            {{ payment.credit / 100 | money: currencyCode }}
          </span>
          <span class="b1-large b1-bold" *ngIf="payment.credit < payment.debit">
            {{ payment.debit / 100 | money: currencyCode }}
          </span>
        </div>
      </div>
    </div>

    <b1-dropdown class="transaction-more" id="dropdown{{ payment.id }}" label="transaction actions" menuWidth="180px">
      <!-- TODO -->
      <a
        slot="toggle"
        class="b1-card__v-dots"
        data-toggle="dropdown"
        uib-dropdown-toggle=""
        aria-haspopup="true"
        onclick="$(this).offset().top - $('.b1-page-data').offset().top - $(this).next().height() < 0 ? $(this).next().addClass('b1-dropdown_down').removeClass('b1-dropdown_up') : $(this).next().addClass('b1-dropdown_up').removeClass('b1-dropdown_down')"
        aria-expanded="false">
      </a>
      <!-- TODO -->
      <b1-dropdown-link
        icon="print"
        label="components.pay.print"
        ng-click="printTransaction(payment.DocumentId, payment.BankId)"></b1-dropdown-link>
      <!-- TODO -->
      <b1-dropdown-link
        icon="country"
        label="components.pay.correspondents.createPayment"
        ng-show="currency === 'UAH'"
        ng-click="CreatePayment(payment.DocumentId, payment.BankId, payment.credit < payment.debit)"></b1-dropdown-link>
    </b1-dropdown>
  </div>
</ng-container>
