<div class="loan-schedule-item b1-page-data__row" [class.actual]="loanSchedule?.isActual">
  <div class="loan-schedule-item__cell loan-schedule-item__cell_icon-wrapper">
    <div *skeleton="true; sizes: { br: '50%' }" class="loan-schedule-item__icon b1-cards__icon">
      <i class="b1-cards__type-icon" b1-icon icon="file-details"></i>
    </div>
  </div>

  <b1-cell
    class="loan-schedule-item__cell loan-schedule-item__cell_date"
    label="components.analytics.graphTooltips.date"
    [skeletonMode]="skeletonMode">
    <ng-container *skeleton="true; sizes: { w: '50%' }">
      {{ loanSchedule.date | date: 'dd.MM.yyyy' }}
    </ng-container>
  </b1-cell>

  <b1-cell
    class="loan-schedule-item__cell loan-schedule-item__cell_percent"
    label="components.loan.schedule.percent"
    [skeletonMode]="skeletonMode">
    <ng-container *skeleton="true; sizes: { w: '80%' }">
      {{ loanSchedule.paymentPercent / 100 | money: currencyCode }}
    </ng-container>
  </b1-cell>

  <b1-cell
    class="loan-schedule-item__cell loan-schedule-item__cell_body"
    label="components.loan.schedule.body"
    [skeletonMode]="skeletonMode">
    <ng-container *skeleton="true; sizes: { w: '80%' }">
      {{ loanSchedule.paymentBody / 100 | money: currencyCode }}
    </ng-container>
  </b1-cell>

  <b1-cell
    class="loan-schedule-item__cell loan-schedule-item__cell_commission"
    label="components.loan.schedule.commission"
    [skeletonMode]="skeletonMode"
    [negative]="loanSchedule && loanSchedule.commission > 0">
    <ng-container *skeleton="true; sizes: { w: '80%' }">
      {{ loanSchedule.commission / 100 | money: currencyCode }}
    </ng-container>
  </b1-cell>

  <div class="loan-schedule-item__cell loan-schedule-item__cell_sum">
    <b1-cell *skeleton="true; sizes: { w: '40%' }" label="components.salary.sumCaps" [skeletonMode]="skeletonMode">
      <span class="b1-color-primary">&nbsp;{{ loanSchedule.payment / 100 | money: currencyCode }}</span>
    </b1-cell>
    <ng-container *skeleton="true; sizes: { w: '60%' }"></ng-container>
  </div>

  <div class="loan-schedule-item__cell loan-schedule-item__cell_rest">
    <b1-cell *skeleton="true; sizes: { w: '40%' }" label="components.loan.schedule.rest" [skeletonMode]="skeletonMode">
      &nbsp;{{ loanSchedule.rest / 100 | money: currencyCode }}
    </b1-cell>
    <ng-container *skeleton="true; sizes: { w: '60%' }"></ng-container>
  </div>
</div>
