:host {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.create {
    &-content {
        position: relative;
        @media (max-width: 812px) {
            padding-top: 64px;
        }
    }
}
