<div *ngrxLet="isLoading$ as isLoading" class="b1-modal-data">
  <div class="b1-modal-header">
    <div class="b1-title3">
      {{ 'components.pay.correspondents.chooseCorespondent' | translate }}
    </div>

    <div class="b1-modal-close">
      <i b1-icon icon="cancel" (click)="modal.close()" (keyup.enter)="modal.close()" tabindex="0"></i>
    </div>
  </div>

  <div class="b1-correspondents-modal__body b1-modal-body">
    <div class="b1-correspondents-modal__actions">
      <div class="b1-modal-search">
        <b1-input
          icon="search"
          [placeholder]="'shared.search' | translate"
          [resizable]="true"
          [(ngModel)]="filterTerm"></b1-input>
      </div>
    </div>

    <b1-card-loader [isLoading]="isLoading$" webClass="hidden"></b1-card-loader>

    <div class="b1-modal-container_header b1-base" ngbAutofocus>
      <span class="b1-correspondents-modal__text b1-correspondents-modal__text_name">
        {{ 'components.pay.recipient.recipient' | translate }}
      </span>

      <span class="b1-correspondents-modal__text b1-correspondents-modal__text_account">
        {{ 'components.pay.recipient.iban' | translate }}
      </span>

      <span class="b1-correspondents-modal__text b1-correspondents-modal__text_tax-code">
        {{ 'components.pay.recipient.taxCode' | translate }}
      </span>
    </div>

    <ng-container *ngrxLet="isInitialLoading$ as isInitialLoading">
      <div class="b1-correspondents-modal__list" *ngrxLet="correspondents$ as correspondents">
        <ng-container *ngIf="!isInitialLoading && correspondents.length">
          <ng-container *ngIf="correspondents | correspondentsFilter: filterTerm as filteredCorrespondents">
            <ng-scrollbar
              *ngIf="filteredCorrespondents.length; else notFound"
              class="virtual-scroll"
              [disabled]="isMobile$ | ngrxPush">
              <cdk-virtual-scroll-viewport scrollViewport smoothScroll autosize>
                <div
                  *cdkVirtualFor="let correspondent of filteredCorrespondents"
                  class="b1-correspondents-modal__item b1-modal-container_row b1-base b1-bold"
                  (click)="onCorrespondentSelect(correspondent)">
                  <span
                    class="b1-correspondents-modal__text b1-correspondents-modal__text_name b1-ellipsis"
                    [ngbTooltip]="correspondent.name | translate"
                    placement="right"
                    tooltipClass="b1-base">
                    {{ correspondent.name }}
                  </span>

                  <span
                    class="b1-correspondents-modal__text b1-correspondents-modal__text_account b1-ellipsis"
                    [ngbTooltip]="correspondent.bankName | translate"
                    placement="left"
                    tooltipClass="b1-base"
                    [iban]="correspondent.accNumber">
                  </span>

                  <span class="b1-correspondents-modal__text b1-correspondents-modal__text_tax-code">
                    {{ correspondent.taxCode }}
                  </span>
                </div>
              </cdk-virtual-scroll-viewport>
            </ng-scrollbar>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isInitialLoading">
          <div
            *ngFor="let number of 5 | numberToArray"
            class="b1-correspondents-modal__item b1-correspondents-modal__item_skeletons">
            <b1-skeleton class="b1-correspondents-modal__text b1-correspondents-modal__text_name"></b1-skeleton>
            <b1-skeleton class="b1-correspondents-modal__text b1-correspondents-modal__text_account"></b1-skeleton>
            <b1-skeleton class="b1-correspondents-modal__text b1-correspondents-modal__text_tax-code"></b1-skeleton>
          </div>
        </ng-container>

        <!-- TODO: CHANGE SVG-NAME -->
        <b1-empty
          *ngIf="!correspondents.length && !isInitialLoading"
          svgName="empty-users"
          header="components.correspondents.doNotExist">
        </b1-empty>
      </div>
    </ng-container>
  </div>

  <ng-template #notFound>
    <!-- TODO: CHANGE SVG-NAME -->
    <b1-empty svgName="empty-users" header="components.correspondents.notFound"> </b1-empty>
  </ng-template>
</div>
