<div class="services-row" *ngrxLet="card$ as card">
  <div class="services-row_body">
    <div class="services-row_name">
      <i b1-icon icon="card-turnovers" class="services-row_icon"></i>
      {{ 'components.corpcard.services.statement' | translate }}
    </div>
    <div class="services-row_value">
      <span *ngIf="card" [iban]="card.accountNumber"></span>
      <ngx-skeleton-loader *ngIf="!card"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="services-row_button">
    <b1-page-button
      (b1Click)="showStatement()"
      icon="turnovers"
      label="components.acct.getStatement"
      [disabled]="!card"
      [primary]="true">
    </b1-page-button>
  </div>
</div>
