@import 'variables.scss';

:host {
  display: block;
}

.cl {
  &-button {
    @include base;
    background-image: linear-gradient(
      to right,
      $color-primary 0%,
      rgba($color-primary, 0.9) 50%,
      rgba($color-primary, 0.6) 100%
    );
    background-size: 200% 100%;
    background-position: left;
    box-shadow: 0 2px 8px rgba($color-primary, 0.2);
    padding: 12px;
    border-radius: 4px;
    border: 0;
    color: $color-light;
    width: 100%;
    margin: 16px auto 16px;
    transition: all 0.15s ease-out;
    position: relative;
    height: 48px;
    &:hover {
      background-position: right;
    }

    &:active {
      box-shadow: 0 4px 16px rgba($color-primary, 0.4);
    }

    &[disabled],
    &:hover[disabled] {
      background-image: none;
      background-color: $color-light-200;
      color: rgba($color-dark, 0.6);
      box-shadow: none;
    }
  }
}
.loader {
  height: 100%;
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 26px);
}
.loader div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $color-primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
