<div *ngIf="user.pictureUrl" class="user-item__image">
  <img [src]="user.pictureUrl" />
  <div class="user-item__lock" *ngIf="user.isDisable">
    <i b1-icon icon="lock"></i>
  </div>
</div>
<div *ngIf="!user.pictureUrl" class="user-item__letters">
  {{ user.firstName + ' ' + user.lastName | initials }}
  <div class="user-item__lock" *ngIf="user.isDisable">
    <i b1-icon icon="lock"></i>
  </div>
</div>

<div class="user-item__name b1-ellipsis">{{ user.displayName }}</div>
<div class="user-item__subtitle">{{ user.email }}</div>
<div class="user-item__subtitle">{{ user.phoneNumber }}</div>

<b1-dropdown
  class="user-item__more b1-card__col b1-card__col_dot"
  label="user's actions"
  menuWidth="180px"
  scopeSelector="app-users-list">
  <b1-more-button slot="toggle"></b1-more-button>
  <b1-dropdown-link
    [icon]="user.isDisable ? 'lock' : 'unlock'"
    [label]="user.isDisable ? 'actions.unlock' : 'actions.lock'"
    (btnClick)="onUserLockStateChange()">
  </b1-dropdown-link>
  <b1-dropdown-link icon="delete" label="actions.delete" [danger]="true" (btnClick)="onUserDelete()">
  </b1-dropdown-link>
</b1-dropdown>
