@import 'variables';
.history {
  color: var(--color-dark);
  &-header {
    position: relative;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-close {
    cursor: pointer;
  }
  &-content {
    padding: 32px;
    &_item {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
:host,
.history,
.history-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
