<div
  *ngFor="let item of items; index as i"
  class="b1-radio-button"
  [class.b1-mt-4]="i !== 0 && !horizontal"
  [class.b1-ml-4]="i !== 0 && horizontal"
  mobileClass="b1-mt-4">
  <label class="b1-checkbox">
    <input
      class="b1-checkbox__hidden"
      [id]="item.value + '-' + controlId"
      type="radio"
      [name]="inputName"
      [value]="item.value"
      [checked]="item.value === value"
      [disabled]="isDisabled || disabledValues.includes(item.value) || null"
      #formControlRef />
    <i class="b1-checkbox__check"></i>
    <span class="b1-checkbox__label" #labelRef>
      {{ item.label | translate }}
    </span>
  </label>
</div>
