@import 'variables';

:host {
  position: relative;
  display: block;
  color: $color-light;
  @include cl-anim;
}

.cl-post {
  &-header {
    padding-right: 17px;
  }
  &-scrollbar {
    min-height: 165px;
  }
  &-date {
    opacity: 0.6;
  }
  &-close {
    top: 0;
    position: absolute;
    right: 0px;
    cursor: pointer;
  }
}

::ng-deep {
  ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(var(--color-dark-rgb), 0.5) !important;
    --scrollbar-thumb-hover-color: rgba(var(--color-dark-rgb), 0.8) !important;
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: rgba(var(--color-dark-rgb), 0.1);
    --scrollbar-border-radius: 10px;
  }
}
