<ng-container *ngrxLet="isLoading$ as isLoading">
  <ng-container *ngrxLet="loanSchedules$ as loanSchedules">
    <ng-container *ngIf="!isLoading">
      <ng-container *ngrxLet="loan$ as loan">
        <ng-scrollbar class="virtual-scroll b1-page-data" [disabled]="isMobile$ | ngrxPush">
          <cdk-virtual-scroll-viewport scrollViewport smoothScroll autosize>
            <app-loan-schedule-item
              *cdkVirtualFor="let loanSchedule of loanSchedules"
              [loanSchedule]="loanSchedule"
              [currencyCode]="loan.currencyCode">
            </app-loan-schedule-item>
          </cdk-virtual-scroll-viewport>
        </ng-scrollbar>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <!-- <b1-skeleton *ngFor="let number of 6 | numberToArray"></b1-skeleton> -->
    </ng-container>
  </ng-container>
</ng-container>
