@import 'variables';

.b1-switcher__toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  background-color: $color-primary;
  border-radius: 30px;
  cursor: pointer;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked {
      & + i {
        &::before {
          top: 50%;
          right: 5px;
          bottom: 50%;
          left: 50%;
          border-width: 0;
          border-radius: 5px;
        }
        &:after {
          margin-left: 16px;
        }
      }
    }
  }

  i {
    &::before,
    &::after {
      position: absolute;
      content: '';
    }
    &::before {
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background-color: $color-light-400;
      border-radius: 30px;
      transition: all 0.2s;
    }
    &::after {
      top: 1px;
      bottom: 1px;
      width: 18px;
      // will be replaced with a variable:
      background-color: $color-light;
      border-radius: 50%;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
      transition: margin-left 0.3s;
    }
  }
}
