@import "variables.scss";

@mixin input-invalid {
  border-color: var(--color-error) !important;
  box-shadow: 0 0 0 3px rgba($color-error, 0.2) !important;
}
.b1 {
  &-datepicker {
    position: relative;
    display: flex;
    align-items: center;

    &__label {
      margin-right: 8px;
      color: var(--color-dark);
      @include medium;
    }

    &__input {
      @include base;
      @include bold;
      width: 104px;
      padding-left: 16px;
      height: 40px;
      border: 1px solid var(--color-dark-500);
      color: var(--color-dark);
      border-radius: 2px * $border-radius-factor;
      transition: all 0.15s $animation-timing;
      margin: 0;
      position: relative;
      background: none;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &.picker-open {
        border-color: var(--color-info) !important;
        box-shadow: 0 0 0 3px rgba($color-info, 0.4) !important;
        & ~ [b1-icon] {
          color: var(--color-info) !important;
        }
      }
      &:disabled,
      &.ng-disabled {
        // & input {
        //   cursor: not-allowed;
        //   opacity: 0.6;
        // }
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.ng-invalid.ng-touched,
      &.ngrx-forms-invalid.ngrx-forms-touched {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }

      &.ng-invalid.ng-touched:focus,
      &.ngrx-forms-invalid.ngrx-forms-touched:focus {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }
    }

    &__addon {
      @include medium;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 12px;
      border: 1px solid var(--color-dark-500);
      color: var(--color-dark);
      border-radius: 2px * $border-radius-factor;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: all 0.15s $animation-timing;

      &:hover {
        background-color: var(--color-light-200);
      }
    }
  }

  &-input {
    position: relative;
    width: 100%;

    & :disabled,
    & .ng-disabled {
      & input {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    & .ng-invalid.ng-touched,
    & .ngrx-forms-invalid.ngrx-forms-touched {
      & input:not(.no-validate) {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
        & ~ [b1-icon] {
          color: var(--color-error);
        }
      }
    }

    & .ng-invalid.ng-touched:focus,
    & .ngrx-forms-invalid.ngrx-forms-touched:focus {
      & input:not(.no-validate) {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
        & ~ [b1-icon] {
          color: var(--color-error);
        }
      }
    }

    &__label {
      @include base;
      padding: 6px 10px;
      position: absolute;
      opacity: 0.6;
      transform: translateX(-100%);
      &:not(.not-lower) {
        text-transform: lowercase;
      }

      &_top {
        transform: none;
        top: -32px;
        left: -8px;
        @media (max-width: 812px) {
          transform: none !important;
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        transform: translate(-10px, -32px);
      }

      @media (max-width: 767px) {
        transform: translate(-10px, -32px);
      }
    }

    &__control {
      @include base;
      display: flex;
      justify-content: left;
      align-items: center;
      position: relative;
      height: 38px;
      z-index: 5;
      width: 100%;
      padding: 10px 16px;
      background-color: transparent;
      box-shadow: none;
      color: var(--color-dark);
      border: 1px solid rgba(var(--color-dark-rgb), 0.6);
      border-radius: 2px * $border-radius-factor;
      transition: all 0.15s $animation-timing;
      outline: none;
      &::placeholder {
        color: rgba(var(--color-dark-rgb), 0.6);
        transition: all 0.15s $animation-timing;
      }
      & + .b1-icons {
        color: rgba(var(--color-dark-rgb), 0.6);
      }
      &_textarea {
        height: auto;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 40px;
      }

      &:hover {
        border-color: rgba(var(--color-dark-rgb), 0.9);
        & + .b1-icons {
          color: rgba(var(--color-dark-rgb), 0.9);
        }
        &::placeholder {
          color: rgba(var(--color-dark-rgb), 0.9);
        }
      }

      &:focus {
        border-color: var(--color-info);
        box-shadow: 0 0 0 3px rgba($color-info, 0.4);
      }
      &.ng-valid.ng-has-value {
        border-color: var(--color-info);
        box-shadow: 0 0 0 3px rgba($color-info, 0.4);
      }

      &:disabled,
      &.ng-disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.ng-invalid.ng-touched,
      &.ngrx-forms-invalid.ngrx-forms-touched {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }

      &.ng-invalid.ng-touched:focus,
      &.ngrx-forms-invalid.ngrx-forms-touched:focus {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }
    }
    ng-select {
      .ng-select-container {
        cursor: pointer;
      }
      &.ng-select-opened {
        .ng-select-container {
          border-color: var(--color-info) !important;
          box-shadow: 0 0 0 3px rgba($color-info, 0.4) !important;
          .ng-arrow {
            top: -2px;
            border-color: transparent transparent #999;
            border-width: 0 5px 5px;
          }
          .ng-arrow:hover {
            border-color: transparent transparent #333;
          }
        }
      }
    }

    .form-control,
    .ng-select-container {
      @include base;
      display: flex !important;
      justify-content: left !important;
      align-items: center !important;
      position: relative !important;
      height: 38px !important;
      z-index: 5 !important;
      width: 100% !important;
      padding: 10px 16px !important;
      background-color: transparent !important;
      box-shadow: none !important;
      color: var(--color-dark) !important;
      border: 1px solid var(--color-dark-500) !important;
      border-radius: 2px * $border-radius-factor;
      transition: all 0.15s $animation-timing;
      &.ng-select-open {
        border-color: var(--color-info) !important;
        box-shadow: 0 0 0 3px rgba($color-info, 0.4) !important;
      }
      &.ui-select-multiple {
        height: auto;
      }
      &:hover {
        border-color: rgba(var(--color-dark-500-rgb), 0.8);
        box-shadow: none;
      }

      &:focus {
        border-color: var(--color-info);
        box-shadow: 0 0 0 3px rgba($color-info, 0.4);
      }

      &:disabled,
      &.ng-disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }

      &.ng-invalid.ng-touched,
      &.ngrx-forms-invalid.ngrx-forms-touched {
        border-color: var(--color-error);
      }

      &.ng-invalid.ng-touched:focus,
      &.ngrx-forms-invalid.ngrx-forms-touched:focus {
        border-color: var(--color-error);
        box-shadow: 0 0 0 3px rgba($color-error, 0.2);
      }
    }
    &__select {
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      &_chevron {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        font-size: 14px;
      }
    }
    &__validate-message {
      @include small;
      padding: 8px 0;
      color: var(--color-error);
    }

    &__alert {
      @include base;
      padding: 16px;
      width: 100%;
      margin-top: 8px;
      border: 1px solid transparent;
      border-radius: 2px * $border-radius-factor;

      &_info {
        background-color: rgba($color-info, 0.2);
        border-color: var(--color-info);
      }
    }
  }

  &-checkbox {
    cursor: pointer;

    &__check {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -2px;
      margin-right: 4px;
      vertical-align: middle;
      line-height: 1;
      background-color: var(--color-light);
      border: 1px solid var(--color-dark-500);
      border-radius: 2px * $border-radius-factor;
    }
    &__check:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      content: "";
      transition: all 0.15s $animation-timing;
    }

    &__label {
      padding: 4px;
      cursor: pointer;
      color: var(--color-dark);
      opacity: 0.6;
    }

    &__hidden {
      position: absolute;
      opacity: 0;
    }

    &__hidden:checked + &__check {
      border-color: var(--color-info);
    }
    &__hidden:checked + &__check:before {
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;
      background-color: var(--color-info);
    }

    &__hidden[disabled] + &__check {
      cursor: not-allowed;
      opacity: 0.6;
    }
    &__hidden[type="radio"] + &__check,
    &__hidden[type="radio"] + &__check:before {
      border-radius: 50%;
    }
  }
}

.ui-select-toggle {
  transition: all 0.15s $animation-timing;
  &:hover {
    border-color: var(--color-info) !important;
    background-color: var(--color-info) !important;
  }

  &:active,
  &:focus {
    border-color: var(--color-info) !important;
    background-color: var(--color-info) !important;
    box-shadow: 0 0 0 3px rgba($color-info, 0.4) !important;
  }
}

.btn-default-focus {
  background-color: var(--color-light) !important;
  color: var(--color-light) !important;
  box-shadow: none !important;
}

.ng-dropdown-panel-items {
  background-color: var(--color-light);
  margin-top: 8px;
  padding: 0;
  box-shadow: 0 8px 24px rgba($color-dark, 0.2), 0 2px 4px rgba($color-dark, 0.1), inset 0 0 2px rgba($color-light, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.ng-option {
  & > span {
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: var(--color-dark);
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--color-dark);
      background-color: var(--color-light-200);
    }
  }

  &.ng-option-selected > span {
    color: $color-light;
    text-decoration: none;
    outline: 0;
    background-color: var(--color-info) !important;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-light;
      background-color: var(--color-info);
      opacity: 0.9;
    }
  }
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid var(--color-info) !important;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid var(--color-info);
}

.ac-container {
  .ac-menu {
    background: var(--color-light);
    border-radius: 2px * $border-radius-factor;
    border: 1px solid var(--color-light-200);
    box-shadow: 0 8px 24px rgba($color-dark, 0.2), 0 2px 4px rgba($color-dark, 0.1),
      inset 0 0 2px rgba($color-light, 0.2);

    .ac-menu-item {
      border-bottom: 1px solid var(--color-light-300);
      line-height: 1;

      &:hover {
        background-color: var(--color-light-200);
      }

      & > a {
        padding: 12px 8px;
        line-height: 1;

        p {
          @include base;
          padding: 4px 0;
        }
      }
    }
  }
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-touched:focus,
textarea.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched:focus {
  border-color: var(--color-error);
}

.ng-select .ng-arrow-wrapper {
  width: 25px;
  padding-right: 5px;
}
[dir="rtl"] .ng-select .ng-arrow-wrapper {
  padding-left: 5px;
  padding-right: 0;
}
.ng-select .ng-arrow-wrapper:hover .ng-arrow {
  border-top-color: #666;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.ng-submitted {
  & .b1-input__control.ng-invalid {
    border-color: var(--color-error);
    box-shadow: 0 0 0 3px rgba($color-error, 0.2);
  }
}
b1-input-amount.ng-touched.ng-invalid {
  & input {
    @include input-invalid;
  }
}
