.account-actions {
    padding: 16px;
    height: 76px;
    //justify-content: space-between;
    @media (max-width: 812px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
    &_title {
        @media (max-width: 812px) {
            width: 100%;
        }
        float: left;
        order: 1;
    }
    &_buttons {
        & .b1-page-more {
            display: none;
        }
        margin-left: 16px;
        float: left;
        order: 3;
        @media (max-width: 812px) {
            margin-top: 8px;
            margin-left: 0;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            & .b1-page-buttons {
                display: none;
            }
            & .b1-page-more {
                display: flex;
            }
        }
    }
    &_calendar {
        @media (max-width: 812px) {
            flex: 1;
            margin-top: 8px;
        }
        float: right;
        order: 2;
    }
}
