<ng-container *ngrxLet="form$ as form">
    <ng-container *ngrxLet="isLoading$ as isLoading">
        <div class="account-actions" *ngIf="form">
            <div class="account-actions_title">
                <div class="b1-title3">
                    {{'components.acct.accountTurnovers' | translate}}
                </div>
            </div>
            <div class="account-actions_buttons" *ngrxLet="isMobile$ as isMobile">
                <div class="b1-page-buttons">

                    <button (click)="showStatement()" [disabled]="isLoading" class="b1-page-button">
                        <div class="b1-page-icon" b1-icon icon="turnovers"></div>
                        <span class="b1-page-button_text">{{'components.acct.getStatement' | translate}}</span>
                    </button>

                    <button (click)="showRequisites()" [disabled]="isLoading" class="b1-page-button">
                        <div class="b1-page-icon" b1-icon icon="file-details"></div>
                        <span class="b1-page-button_text">{{'components.acct.share' | translate}}</span>
                    </button>
                    <button (click)="showExport()" [disabled]="isLoading" class="b1-page-button">
                        <div class="b1-page-icon" b1-icon icon="export"></div>
                        <span class="b1-page-button_text">{{'components.acct.geExportStatement' | translate}}</span>
                    </button>
                </div>

            </div>
            <form class="account-actions_calendar" [ngrxFormState]="form">
                <div class="b1-page-inputWithIcon">
                    <input class="b1-datepicker__input b1-rangepicker" b1-daterangepicker startKey="start" endKey="end"
                        [disabled]="isLoading" [ngrxFormControlState]="form.controls.range"
                        [ngrxValueConverter]="rangeValueConverter" name="daterange" [ranges]="ranges" readonly />
                    <label for="calendar" b1-icon icon="calendar"></label>
                </div>
            </form>
        </div>
        <b1-card-loader [isLoading]="isLoading$"></b1-card-loader>
    </ng-container>
</ng-container>