@import "variables.scss";

.b1 {
  &-wrapper {
    padding: 16px;
  }

  &-container {
    border-radius: 4px * $border-radius-factor;
  }

  &-content {
    padding: 32px;
  }

  &-form-container {
    max-width: 640px;
    padding: 32px;
    width: 100%;
    margin: 0 auto;
  }

  &-head-tabs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    @include head-tabs;

    &__item {
      height: 48px;
      border-radius: 8px;
      margin-left: 4px;
      transition: all 0.15s $animation-timing;
      &:first-child {
        margin-left: 0px;
      }

      &:hover {
        background-color: rgba($color-primary, 0.1);
      }

      &.active {
        background-color: rgba($color-primary, 0.2);
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      height: 100%;
      text-transform: lowercase;

      &:hover {
        opacity: 0.8;
        color: var(--color-dark);
      }
    }

    &__item.active &__link {
      opacity: 1;
    }
  }

  &-header-block {
    position: relative;
    @include header-block;

    &__title {
      display: flex;
      align-items: center;
      @include header-block-title;
      text-transform: lowercase;
      border-radius: 4px * $border-radius-factor;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      margin: 8px 0;
    }
  }

  &-header-filters {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 16px 0;

    &__item {
      display: inline-block;
      margin-right: 4px;
      border-radius: 2px * $border-radius-factor;
      transition: all 0.15s $animation-timing;
      @include header-filters-item;
    }

    &__link {
      display: block;
      padding: 8px 16px;
      cursor: pointer;
      transition: all 0.15s $animation-timing;
      @include header-filters-link;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-filter-block {
    padding: 8px 16px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__item {
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 16px;
      margin-right: 8px;
      transition: all 0.15s $animation-timing;
      &:hover {
        background-color: rgba($color-primary, 0.1);
      }

      &.active {
        background-color: rgba($color-primary, 0.2);
        border-color: rgba($color-primary, 0.4);
      }
    }

    &__link {
      display: block;
      padding: 5px 16px;
      transition: all 0.15s $animation-timing;

      &:hover {
        opacity: 0.8;
        color: var(--color-dark);
      }
    }
  }

  &-stick-top {
    position: fixed;
    //left: 256px;
    z-index: 999;
    background-color: var(--color-light);
    border-radius: 2px * $border-radius-factor;
    border: 1px solid var(--color-light-200);
    box-shadow: 0 8px 24px rgba($color-dark, 0.2), 0 2px 4px rgba($color-dark, 0.1),
      inset 0 0 2px rgba($color-light, 0.2);
  }

  &-button-block {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    &__item {
      display: flex;
      align-items: center;
      margin: 8px 0;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
