<textarea
  class="b1-input__control b1-input__control_textarea"
  name="purpose"
  id="purpose"
  [(ngModel)]="viewValue"
  required
  [maxlength]="maxlength"
  (blur)="onBlur()"
  (ngModelChange)="onModelChange()"></textarea>
<b1-input-error [control]="formControl" [form]="form"></b1-input-error>

<div class="b1-mt-2">
  <div class="b1-small">
    <span>{{ 'components.pay.left' | translate }}</span>
    <span class="b1-ml-2 b1-mr-2">{{ maxlength - (viewValue?.length || 0) }}</span>
    <span>{{ 'components.pay.symbols' | translate }}</span>
  </div>
</div>
<fieldset (click)="checkSum($event)" class="b1-mt-3">
  <div class="b1-base checkboxes">
    <!-- С ПДВ -->
    <div style="display: flex; align-items: center">
      <b1-checkbox class="b1-base" [(ngModel)]="withVat" (ngModelChange)="calcTaxes()">
        {{ 'components.pay.withVAT' | translate }}
      </b1-checkbox>

      <input
        name="vatVaue"
        [(ngModel)]="withVatValue"
        [disabled]="!withVat"
        class="percent-input no-validate"
        (blur)="blurTax()"
        decimalNumbers
        [maxlength]="5" />
      %
    </div>

    <!-- БЕЗ ПДВ -->
    <b1-checkbox [(ngModel)]="withoutVat" (ngModelChange)="withoutVatChange()">
      {{ 'components.pay.withoutVAT' | translate }}
    </b1-checkbox>

    <!-- БЮДЖЕТ -->
    <b1-checkbox [(ngModel)]="budget" (ngModelChange)="budgetChange()">
      {{ 'components.pay.budget' | translate }}
    </b1-checkbox>
  </div>
</fieldset>

<div [hidden]="!budget">
  <div class="b1-mt-5" *ngrxLet="payTypes$ as payTypes">
    <label class="b1-input__label b1-base">
      {{ 'components.pay.paymentType' | translate }}
    </label>
    <ng-select
      class="formats"
      [editableSearchTerm]="false"
      [searchable]="false"
      [clearable]="false"
      [(ngModel)]="payType">
      <ng-template ng-label-tmp let-item="item">
        <div class="b1-base b1-flex b1-align-center">
          <span>
            {{ item.code }}
          </span>
          <span class="b1-ml-2 b1-mr-2"> - </span>
          <span>
            {{ item.description }}
          </span>
        </div>
      </ng-template>
      <ng-option *ngFor="let payType of payTypes" [value]="payType">
        <div class="b1-flex b1-base b1-light">
          <span class="b1-bold">
            {{ payType.code }}
          </span>
          <span class="b1-ml-2 b1-mr-2"> - </span>
          <span>
            {{ payType.description }}
          </span>
        </div>
      </ng-option>
    </ng-select>
  </div>
  <b1-number-input class="b1-mt-5" [labelTop]="false" [maxLength]="10" [(ngModel)]="taxCode">
    {{ 'components.pay.edrpo' | translate }}
  </b1-number-input>

  <b1-textarea class="b1-mt-5" [labelTop]="false" [autoHight]="false" [(ngModel)]="explanatoryInfo" [maxLength]="80">
    {{ 'components.pay.explanatoryInfo' | translate }}
  </b1-textarea>

  <div class="build">
    <b1-checkbox class="b1-mt-5 b1-base" [(ngModel)]="showNotRequiredFields" (ngModelChange)="clearNotRequiredFields()">
      {{ 'components.pay.refundVAT' | translate }}
    </b1-checkbox>

    <b1-button
      class="b1-mt-5"
      mode="warning"
      [hidden]="showNotRequiredFields"
      (btnClick)="buildPurpose()"
      icon="build-purpose"
      [label]="'components.pay.buildPurpose' | translate | lowercase"></b1-button>
  </div>
  <div [hidden]="!showNotRequiredFields">
    <div class="b1-input b1-mt-5 b1-flex">
      <label class="b1-input__label b1-base">
        {{ 'components.pay.conclusionRegDate' | translate }}
      </label>
      <div class="b1-page-inputWithIcon">
        <b1-single-picker [(ngModel)]="registerDate"> </b1-single-picker>
        <!-- <input class="b1-datepicker__input b1-singlepicker b1-base" b1-daterangepicker
                    [(ngModel)]="registerDate" [singleDatePicker]="true" [closeOnAutoApply]="true" [autoApply]="true"
                    readonly />
                <label for="calendar" b1-icon icon="calendar"></label> -->
      </div>
    </div>

    <b1-input class="b1-mt-5" [labelTop]="false" [(ngModel)]="conclusionNumber" [maxLength]="20">
      {{ 'components.pay.conclusionNum' | translate | lowercase }}
    </b1-input>

    <b1-input class="b1-mt-5" [labelTop]="false" [(ngModel)]="billNumber" [maxLength]="20">
      {{ 'components.pay.taxBillNum' | translate | lowercase }}
    </b1-input>

    <b1-button
      class="b1-mt-5"
      mode="warning"
      [hidden]="!showNotRequiredFields"
      (btnClick)="buildPurpose()"
      icon="build-purpose"
      [label]="'components.pay.buildPurpose' | translate | lowercase"></b1-button>
  </div>
</div>
