<textarea
  class="b1-input__control b1-input__control_textarea"
  name="purpose"
  id="purpose"
  [(ngModel)]="viewValue"
  required
  [maxlength]="maxlength"
  (blur)="onBlur()"
  (ngModelChange)="onModelChange()"></textarea>
<b1-input-error [control]="formControl" [form]="form"></b1-input-error>
<div class="b1-mt-2">
  <div class="b1-small">
    <span>{{ 'components.pay.left' | translate }}</span>
    <span class="b1-ml-2 b1-mr-2">{{ maxlength - (viewValue?.length || 0) }}</span>
    <span>{{ 'components.pay.symbols' | translate }}</span>
  </div>
</div>
<fieldset (click)="checkSum($event)" class="b1-mt-3">
  <div class="b1-base checkboxes">
    <!-- С ПДВ -->
    <div>
      <label class="b1-checkbox">
        <input
          type="checkbox"
          class="b1-checkbox__hidden"
          name="type"
          [(ngModel)]="withVat"
          (ngModelChange)="calcTaxes()" />
        <i class="b1-checkbox__check"></i>
        <span class="b1-checkbox__label b1-base">{{ 'components.pay.withVAT' | translate }} </span>
      </label>
      <input
        name="vatVaue"
        [(ngModel)]="withVatValue"
        [disabled]="!withVat"
        class="percent-input no-validate"
        (blur)="blurTax()"
        decimalNumbers
        [maxlength]="5" />
      %
    </div>

    <!-- БЕЗ ПДВ -->
    <label class="b1-checkbox">
      <input
        type="checkbox"
        class="b1-checkbox__hidden"
        name="type"
        [(ngModel)]="withoutVat"
        (ngModelChange)="withoutVatChange()" />
      <i class="b1-checkbox__check"></i>
      <span class="b1-checkbox__label b1-base">{{ 'components.pay.withoutVAT' | translate }} </span>
    </label>
    <!-- БЮДЖЕТ -->
    <label class="b1-checkbox">
      <input
        type="checkbox"
        class="b1-checkbox__hidden"
        name="type"
        [(ngModel)]="budget"
        (ngModelChange)="budgetChange()" />
      <i class="b1-checkbox__check"></i>
      <span class="b1-checkbox__label b1-base">{{ 'components.pay.budget' | translate }} </span>
    </label>
  </div>
</fieldset>

<div [hidden]="!budget">
  <div class="b1-mt-5" *ngrxLet="payTypes$ as payTypes">
    <label class="b1-input__label b1-base">
      {{ 'components.pay.paymentType' | translate }}
    </label>
    <ng-select
      class="formats"
      [editableSearchTerm]="false"
      [searchable]="false"
      [clearable]="false"
      [(ngModel)]="payType">
      <ng-template ng-label-tmp let-item="item">
        <div class="b1-base b1-flex b1-align-center">
          <span>
            {{ item.code }}
          </span>
          <span class="b1-ml-2 b1-mr-2"> - </span>
          <span>
            {{ item.description }}
          </span>
        </div>
      </ng-template>
      <ng-option *ngFor="let payType of payTypes" [value]="payType">
        <div class="b1-flex b1-base b1-light">
          <span class="b1-bold">
            {{ payType.code }}
          </span>
          <span class="b1-ml-2 b1-mr-2"> - </span>
          <span>
            {{ payType.description }}
          </span>
        </div>
      </ng-option>
    </ng-select>
  </div>
  <div class="b1-mt-5">
    <label class="b1-input__label not-lower b1-base">{{ 'components.pay.edrpo' | translate }}</label>
    <input type="text" class="b1-input__control b1-base" only-numbers maxlength="10" [(ngModel)]="taxCode" />
  </div>

  <div class="b1-mt-5">
    <label class="b1-input__label b1-base">
      {{ 'components.pay.explanatoryInfo' | translate }}
    </label>
    <textarea class="b1-input__control b1-base" [(ngModel)]="explanatoryInfo" maxlength="80"></textarea>
  </div>
  <div class="build">
    <label class="b1-checkbox b1-mt-5">
      <input
        type="checkbox"
        [(ngModel)]="showNotRequiredFields"
        class="b1-checkbox__hidden"
        (ngModelChange)="clearNotRequiredFields()" />
      <i class="b1-checkbox__check"></i>
      <span class="b1-checkbox__label b1-base">
        {{ 'components.pay.refundVAT' | translate }}
      </span>
    </label>
    <button
      class="b1-button-warning b1-button-warning_filled b1-mt-5"
      [hidden]="showNotRequiredFields"
      (click)="buildPurpose($event)">
      <i b1-icon icon="build-purpose"></i>
      {{ 'components.pay.buildPurpose' | translate | lowercase }}
    </button>
  </div>
  <div [hidden]="!showNotRequiredFields">
    <div class="b1-input b1-mt-5 b1-flex">
      <label class="b1-input__label b1-base">
        {{ 'components.pay.conclusionRegDate' | translate }}
      </label>
      <div class="b1-page-inputWithIcon">
        <b1-single-picker [(ngModel)]="registerDate"> </b1-single-picker>
        <!-- <input class="b1-datepicker__input b1-singlepicker b1-base" b1-daterangepicker
                    [(ngModel)]="registerDate" [singleDatePicker]="true" [closeOnAutoApply]="true" [autoApply]="true"
                    readonly />
                <label for="calendar" b1-icon icon="calendar"></label> -->
      </div>
    </div>
    <div class="b1-mt-5">
      <label class="b1-input__label b1-base">
        {{ 'components.pay.conclusionNum' | translate }}
      </label>
      <input type="text" class="b1-input__control b1-base" [(ngModel)]="conclusionNumber" maxlength="20" />
    </div>
    <div class="b1-mt-5">
      <label class="b1-input__label b1-base">
        {{ 'components.pay.taxBillNum' | translate }}
      </label>
      <input type="text" class="b1-input__control b1-base" [(ngModel)]="billNumber" maxlength="20" />
    </div>
    <button
      class="b1-button-warning b1-button-warning_filled b1-mt-5 pull-right"
      [hidden]="!showNotRequiredFields"
      (click)="buildPurpose($event)">
      <i b1-icon icon="build-purpose"></i>
      {{ 'components.pay.buildPurpose' | translate | lowercase }}
    </button>
  </div>
</div>
