@font-face {
  font-family: 'b1-icons';
  src:  url('fonts/b1-icons.eot?jl3rng');
  src:  url('fonts/b1-icons.eot?jl3rng#iefix') format('embedded-opentype'),
    url('fonts/b1-icons.ttf?jl3rng') format('truetype'),
    url('fonts/b1-icons.woff?jl3rng') format('woff'),
    url('fonts/b1-icons.svg?jl3rng#b1-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b1-icons-icon-"], [class*=" b1-icons-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b1-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b1-icons-icon-phone-solid:before {
  content: "\e93a";
}
.b1-icons-icon-refresh:before {
  content: "\e939";
}
.b1-icons-icon-mail:before {
  content: "\e938";
}
.b1-icons-icon-unlock:before {
  content: "\e937";
}
.b1-icons-icon-card-turnovers:before {
  content: "\e935";
}
.b1-icons-icon-sms:before {
  content: "\e936";
}
.b1-icons-icon-spinner:before {
  content: "\e934";
}
.b1-icons-icon-cash:before {
  content: "\e900";
}
.b1-icons-icon-internet:before {
  content: "\e901";
}
.b1-icons-icon-shop:before {
  content: "\e902";
}
.b1-icons-icon-internet-payment:before {
  content: "\e903";
}
.b1-icons-icon-moon:before {
  content: "\e904";
}
.b1-icons-icon-user:before {
  content: "\e905";
}
.b1-icons-icon-exit:before {
  content: "\e906";
}
.b1-icons-icon-settings:before {
  content: "\e907";
}
.b1-icons-icon-wallet:before {
  content: "\e908";
}
.b1-icons-icon-coins:before {
  content: "\e909";
}
.b1-icons-icon-money-bill-wave:before {
  content: "\e90a";
}
.b1-icons-icon-book-reader:before {
  content: "\e90b";
}
.b1-icons-icon-account-card:before {
  content: "\e90c";
}
.b1-icons-icon-search:before {
  content: "\e90d";
}
.b1-icons-icon-country:before {
  content: "\e90e";
}
.b1-icons-icon-swift:before {
  content: "\e90f";
}
.b1-icons-icon-cards:before {
  content: "\e910";
}
.b1-icons-icon-file-details:before {
  content: "\e911";
}
.b1-icons-icon-edit:before {
  content: "\e912";
}
.b1-icons-icon-cancel:before {
  content: "\e913";
}
.b1-icons-icon-save:before {
  content: "\e914";
}
.b1-icons-icon-menu:before {
  content: "\e915";
}
.b1-icons-icon-calendar:before {
  content: "\e916";
}
.b1-icons-icon-turnovers:before {
  content: "\e917";
}
.b1-icons-icon-export:before {
  content: "\e918";
}
.b1-icons-icon-print:before {
  content: "\e919";
}
.b1-icons-icon-download:before {
  content: "\e91a";
}
.b1-icons-icon-file-txt:before {
  content: "\e91b";
}
.b1-icons-icon-file-html:before {
  content: "\e91c";
}
.b1-icons-icon-file-csv:before {
  content: "\e91d";
}
.b1-icons-icon-file-xls:before {
  content: "\e91e";
}
.b1-icons-icon-file-xlsx:before {
  content: "\e91f";
}
.b1-icons-icon-file-dbf:before {
  content: "\e920";
}
.b1-icons-icon-file-doc:before {
  content: "\e921";
}
.b1-icons-icon-file-pdf:before {
  content: "\e922";
}
.b1-icons-icon-file-rtf:before {
  content: "\e923";
}
.b1-icons-icon-more:before {
  content: "\e924";
}
.b1-icons-icon-sign:before {
  content: "\e925";
}
.b1-icons-icon-on-sign:before {
  content: "\e926";
}
.b1-icons-icon-new-document:before {
  content: "\e927";
}
.b1-icons-icon-attach:before {
  content: "\e928";
}
.b1-icons-icon-not-allowed:before {
  content: "\e929";
}
.b1-icons-icon-plus:before {
  content: "\e92a";
}
.b1-icons-icon-delete:before {
  content: "\e92b";
}
.b1-icons-icon-uniE92C:before {
  content: "\e92c";
}
.b1-icons-icon-uniE92D:before {
  content: "\e92d";
}
.b1-icons-icon-uniE92E:before {
  content: "\e92e";
}
.b1-icons-icon-uniE92F:before {
  content: "\e92f";
}
.b1-icons-icon-uniE930:before {
  content: "\e930";
}
.b1-icons-icon-list:before {
  content: "\e931";
}
.b1-icons-icon-block:before {
  content: "\e932";
}
.b1-icons-icon-lock:before {
  content: "\e933";
}
.b1-icons-icon-mobile:before {
  content: "\e958";
}
.b1-icons-icon-agents:before {
  content: "\e976";
}
.b1-icons-icon-arrow-up-left:before {
  content: "\ea39";
}
.b1-icons-icon-arrow-up:before {
  content: "\ea3a";
}
.b1-icons-icon-arrow-up-right:before {
  content: "\ea3b";
}
.b1-icons-icon-arrow-right:before {
  content: "\ea3c";
}
.b1-icons-icon-arrow-down-right:before {
  content: "\ea3d";
}
.b1-icons-icon-arrow-down:before {
  content: "\ea3e";
}
.b1-icons-icon-arrow-down-left:before {
  content: "\ea3f";
}
.b1-icons-icon-arrow-left:before {
  content: "\ea40";
}
.b1-icons-icon-build-purpose:before {
  content: "\eae3";
}
.b1-icons-icon-check:before {
  content: "\f00c";
}
.b1-icons-icon-cog:before {
  content: "\f013";
}
.b1-icons-icon-map-marker:before {
  content: "\f041";
}
.b1-icons-icon-adjust:before {
  content: "\f042";
}
.b1-icons-icon-chevron-left:before {
  content: "\f053";
}
.b1-icons-icon-chevron-right:before {
  content: "\f054";
}
.b1-icons-icon-chevron-up:before {
  content: "\f077";
}
.b1-icons-icon-chevron-down:before {
  content: "\f078";
}
.b1-icons-icon-phone:before {
  content: "\f095";
}
.b1-icons-icon-users:before {
  content: "\f0c0";
}
.b1-icons-icon-bell:before {
  content: "\f0f3";
}
.b1-icons-icon-file:before {
  content: "\f15b";
}
.b1-icons-icon-university:before {
  content: "\f19c";
}
.b1-icons-icon-send:before {
  content: "\f1d8";
}
.b1-icons-icon-calculator:before {
  content: "\f1ec";
}
.b1-icons-icon-pie-chart:before {
  content: "\f200";
}
.b1-icons-icon-credit-card:before {
  content: "\f283";
}
.b1-icons-icon-basket:before {
  content: "\f291";
}
.b1-icons-icon-piggy-bank:before {
  content: "\1f308";
}
