@font-face {
  font-family: 'b1-icons';
  src:  url('fonts/b1-icons.eot?jwqk9f');
  src:  url('fonts/b1-icons.eot?jwqk9f#iefix') format('embedded-opentype'),
    url('fonts/b1-icons.ttf?jwqk9f') format('truetype'),
    url('fonts/b1-icons.woff?jwqk9f') format('woff'),
    url('fonts/b1-icons.svg?jwqk9f#b1-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b1-icons-icon-"], [class*=" b1-icons-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b1-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b1-icons-icon-moon:before {
  content: "\e900";
}
.b1-icons-icon-menu:before {
  content: "\e911";
}
.b1-icons-icon-cancel:before {
  content: "\e90f";
}
.b1-icons-icon-save:before {
  content: "\e910";
}
.b1-icons-icon-edit:before {
  content: "\e90e";
}
.b1-icons-icon-file-details:before {
  content: "\e90d";
}
.b1-icons-icon-country:before {
  content: "\e90a";
}
.b1-icons-icon-swift:before {
  content: "\e90b";
}
.b1-icons-icon-cards:before {
  content: "\e90c";
}
.b1-icons-icon-search:before {
  content: "\e909";
}
.b1-icons-icon-account-card:before {
  content: "\e908";
}
.b1-icons-icon-book-reader:before {
  content: "\e907";
}
.b1-icons-icon-wallet:before {
  content: "\e904";
}
.b1-icons-icon-coins:before {
  content: "\e905";
}
.b1-icons-icon-money-bill-wave:before {
  content: "\e906";
}
.b1-icons-icon-piggy-bank:before {
  content: "\1f308";
}
.b1-icons-icon-user:before {
  content: "\e901";
}
.b1-icons-icon-exit:before {
  content: "\e902";
}
.b1-icons-icon-settings:before {
  content: "\e903";
}
.b1-icons-icon-check:before {
  content: "\f00c";
}
.b1-icons-icon-cog:before {
  content: "\f013";
}
.b1-icons-icon-map-marker:before {
  content: "\f041";
}
.b1-icons-icon-adjust:before {
  content: "\f042";
}
.b1-icons-icon-chevron-left:before {
  content: "\f053";
}
.b1-icons-icon-chevron-right:before {
  content: "\f054";
}
.b1-icons-icon-chevron-up:before {
  content: "\f077";
}
.b1-icons-icon-chevron-down:before {
  content: "\f078";
}
.b1-icons-icon-phone:before {
  content: "\f095";
}
.b1-icons-icon-users:before {
  content: "\f0c0";
}
.b1-icons-icon-bell:before {
  content: "\f0f3";
}
.b1-icons-icon-file:before {
  content: "\f15b";
}
.b1-icons-icon-university:before {
  content: "\f19c";
}
.b1-icons-icon-calculator:before {
  content: "\f1ec";
}
.b1-icons-icon-pie-chart:before {
  content: "\f200";
}
.b1-icons-icon-credit-card:before {
  content: "\f283";
}
.b1-icons-icon-basket:before {
  content: "\f291";
}
.b1-icons-icon-mobile:before {
  content: "\e958";
}
.b1-icons-icon-agents:before {
  content: "\e976";
}
