<b1-modal-container [loader]="false">
  <ng-container slot="header">
    {{ 'components.corpcards.applicationCreatedSuccess' | translate }}
  </ng-container>

  <ng-container slot="body">
    <div class="b1-flex b1-justify-center width-100">
      <app-card-styled [card]="card" [animated]="false"></app-card-styled>
    </div>
    <div class="b1-medium b1-light b1-mt-5">
      <span>{{ 'components.pay.innerNumber' | translate | firstTitle }}</span>
      <span class="b1-ml-2 b1-mr-2">-</span>
      <span>{{ application.id }}</span>
    </div>
    <div class="b1-medium b1-light b1-mt-2">
      {{
        'components.corpcards.newExpireDate'
          | translate
            : {
                oldExpiredDate: application.cardExpired,
                newExpiredDate: application.newExpiredDate
              }
      }}
    </div>
  </ng-container>

  <b1-button
    slot="footer"
    icon="list"
    label="components.corpcards.goToApplications"
    (btnClick)="goToApplications()"></b1-button>
</b1-modal-container>
