.payment {
  display: grid;
  grid-template-columns: 0.5fr 10fr 0.5fr;
  column-gap: 16px;
  align-items: center;
  &-number {
    display: flex;
    align-items: center;
    & [b1-icon] {
      margin-right: 16px;
    }
  }
  &-body {
    grid-template-columns: 2fr 8fr 3fr;
    display: grid;
    align-items: center;
    column-gap: 16px;
    @media (max-width: 812px) {
      grid-template-columns: 1fr;
    }
  }
  &-data {
    overflow: hidden;
    @media (max-width: 812px) {
      margin-top: 8px;
    }
  }
  &-amount {
    text-align: right;
    @media (max-width: 812px) {
      text-align: left;
      margin-top: 8px;
    }
  }
  &-more {
    display: flex;
    justify-content: flex-end;
  }
  &-icon {
    @media (max-width: 812px) {
      display: none;
    }
  }
}
