.payment {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  column-gap: 16px;
  align-items: center;
  &-body {
    grid-template-columns: 2fr 8fr 2fr;
    display: grid;
    align-items: center;
    @media (max-width: 812px) {
      grid-template-columns: 1fr;
    }
  }
  &-data {
    overflow: hidden;
    @media (max-width: 812px) {
      margin-top: 8px;
    }
  }
  &-amount {
    text-align: right;
    @media (max-width: 812px) {
      text-align: left;
      margin-top: 8px;
    }
  }
}
