$screen-tablet-medium: 991px;
$screen-tablet: 812px;
$screen-mobile-small: 480px;

:host(.users-list) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(220px, auto);
  grid-gap: 32px;
  margin: 12px 0;

  @media (max-width: $screen-tablet-medium) {
    grid-template-columns: repeat(2, 1fr);
    margin: 32px 0;
  }

  @media (max-width: $screen-mobile-small) {
    grid-template-columns: 1fr;
  }
}
