div{
    padding: 30px;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  app-supdocument-payment-row.payment-row {
    height: 90px;
    @media (max-width: 812px) {
      border-radius: 0;
      margin: 0;
      height: 180px;
    }
  }
  b1-skeleton.payment-row {
    height: 90px;
    @media (max-width: 812px) {
      height: 180px;
    }
  }