<ng-container *ngrxLet="payments$ as payments">
  <ng-container *ngrxLet="isLoading$ as isLoading">
    <div class="b1-page-data" *ngIf="isLoading">
      <b1-skeleton *ngFor="let item of [0, 1, 2, 3, 4, 5]" class="b1-page-data__row skeleton payment-row"></b1-skeleton>
    </div>
    <ng-container *ngIf="payments | supdocumentPaymentsFilter: (filterTerm$ | ngrxPush) as filteredPayments">
      <ng-scrollbar
        class="virtual-scroll b1-page-data"
        *ngIf="filteredPayments.length != 0"
        [disabled]="isMobile$ | ngrxPush">
        <cdk-virtual-scroll-viewport scrollViewport smoothScroll autosize>
          <app-supdocument-payment-row
            *cdkVirtualFor="let payment of filteredPayments"
            class="b1-page-data__row payment-row"
            [payment]="payment"
            (click)="onPaymentClick()">
          </app-supdocument-payment-row>
        </cdk-virtual-scroll-viewport>
      </ng-scrollbar>
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="b1-page-data" [hidden]="!((!payments || payments.length === 0) && !isLoading)">
        <b1-empty
          svgName="empty-payments"
          header=""
          [description]="'components.supDocuments.details.reletatedPaymentsAndApplicationsNotFound' | translate">
        </b1-empty>
      </div>
      <div class="b1-page-data b1-page-data_skeleton" [hidden]="!isLoading">
        <div *ngFor="let number of [0, 1, 2, 3, 4, 5, 6]"></div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
