<ng-container select="body">
      <form [formGroup]="formGroup" #formRef="ngForm">
        <ng-container *ngrxLet="recipients$ as recipients">
          <ng-container *ngrxLet="isLoadingRecipients$ as isLoadingRecipients">
            <ng-container *ngIf="isLoadingRecipients && recipients.length">

                  <ng-multiselect-dropdown
                  [placeholder]="'Select emails'"
                  [settings]="dropdownSettings"
                  [data]="recipients"
                  (onSelect)="onItemSelect($event)"
                  [formControl]="RecipientsControl"
                  >
                  </ng-multiselect-dropdown>

                  <span class="b1-small b1-opacity-60">{{'components.supDocuments.maxAmountRecipientEmails' |
                  translate }}{{recipientsMaxLength}}</span>
        
              
            </ng-container>
          </ng-container>
        </ng-container>
      
          <fieldset class="b1-mt-6">
            <legend class="b1-large b1-mb-4">
              {{ 'components.supDocuments.details.description' | translate }}
            </legend>
            <b1-textarea mobileClass="b1-mt-3" [maxLength]="messageMaxLength" [formControl]="MessageControl">
            </b1-textarea>
          </fieldset>
        </form>
</ng-container>
  