<div class="dropdown">
  <div (click.stop)="dropdown.open()">
    <ng-content select="[openButton]"></ng-content>
  </div>

  <ul
    class="b1-dropdown b1-bg-light"
    webClass="b1-animate fade-in-up"
    [style.width]="menuWidth"
    role="menu"
    [attr.aria-labelledby]="label"
    ngbDropdown
    #dropdown="ngbDropdown"
    mobile-more
    more-auto-direction
    [parentSelector]="scopeSelector">
    <div class="b1-modal-close" webClass="hidden">
      <i b1-icon icon="cancel" (click.stop)="dropdown.close()"> </i>
    </div>
    <ng-content select="b1-dropdown-link"></ng-content>
    <ng-content select=".b1-separator"></ng-content>
  </ul>
</div>
